/ %a.btn.btn-mini.btn-clear{ href: sufia.download_path(content.pid, {datastream_id: 'content'}), target: '_blank', title: content.title + ' - ' + content.type_label,  data: {toggle: "tooltip", pid: content.pid, container: 'body' } }
%a.btn.btn-mini.btn-clear{ href: sufia.download_path(content.pid, {datastream_id: 'content'}), target: '_blank',  data: {toggle: "tooltip", pid: content.pid, container: 'body' } }
            = content.type_label
