%a.btn.btn-mini.btn-white{ href: download_path(content.pid, {datastream_id: 'content'}), target: '_blank', title: content.type_label,  data: {toggle: "tooltip", pid: content.pid, container: 'body' } }
            = content.type_label
