%li.dropdown
  %a.dropdown-toggle(href="#" data-toggle="dropdown")
    Export to
    %b.caret 
  %ul.dropdown-menu
    %li
      \#{link_to 'EndNote', nu_core_file_path(@nu_core_file.noid, :format => 'endnote')}
    %li
      \#{link_to 'Zotero', sufia.static_path('zotero'), {:id => 'zoteroLink', :name =>    'zotero', :class => 'lightboxLink'}}
    %li
      \#{link_to 'Mendeley', sufia.static_path('mendeley'), {:id => 'mendeleyLink', :name =>    'mendeley', :class => 'lightboxLink'}}