%figure
  - if @nu_core_file.image?
    -if @nu_core_file.thumbnail
      %img{title: @nu_core_file.title.first, alt: " ",  src: sufia.download_path(@nu_core_file.thumbnail, {datastream_id: 'content'}) }
    -else
      %i.icon-picture.icon-4x.icon-border.drs-icon-figure
  - elsif @nu_core_file.video?
    %video.video-js.vjs-default-skin{controls: "controls", "data-setup" => "{}", preload: "auto"}
      %source{src: sufia.download_path(@nu_core_file, datastream_id: 'webm'), type: "video/webm"}
      %source{src: sufia.download_path(@nu_core_file, datastream_id: 'mp4'), type: "video/mp4"}
      Your browser does not support the video tag.
  - elsif @nu_core_file.audio?
    %audio.video-js.vjs-default-skin{controls: "controls", "data-setup" => "{}", preload: "auto"}
      %source{src: sufia.download_path(@nu_core_file, datastream_id: 'ogg'), type: "audio/ogg"}
      %source{src: sufia.download_path(@nu_core_file, datastream_id: 'mp3'), type: "audio/mpeg"}
      Your browser does not support the audio tag.
  - elsif @nu_core_file.pdf?
    -if @nu_core_file.thumbnail
      %img{title: @nu_core_file.title.first , alt: " ",  src: sufia.download_path(@nu_core_file.thumbnail, {datastream_id: 'content'}) }
    -else
      %i.icon-picture.icon-4x.icon-border.drs-icon-figure
  - else
    -if @nu_core_file.thumbnail
      %img{alt: " ", title: @nu_core_file.title.first , src: sufia.download_path(@nu_core_file.thumbnail, {datastream_id: 'content'})}
    -else
      %i.icon-file.icon-4x.icon-border.drs-icon-figure
  - if @nu_core_file.description.length > 0
    %figcaption
      =@nu_core_file.description