%figure
  - if @nu_core_file.image?
    %a{href: sufia.download_path(@nu_core_file), target: "_new", title: "Download the full-sized image"}
      %img{alt: "Download the full-sized image of #{@nu_core_file.title.first}", src: sufia.download_path(@nu_core_file, {:datastream_id => 'thumbnail'}), width: "338"}>/
      Download the full-sized image
  - elsif @nu_core_file.video?
    %video.video-js.vjs-default-skin{controls: "controls", "data-setup" => "{}", preload: "auto"}
      %source{src: sufia.download_path(@nu_core_file, datastream_id: 'webm'), type: "video/webm"}
      %source{src: sufia.download_path(@nu_core_file, datastream_id: 'mp4'), type: "video/mp4"}
      Your browser does not support the video tag.
  - elsif @nu_core_file.audio?
    %audio.video-js.vjs-default-skin{controls: "controls", "data-setup" => "{}", preload: "auto"}
      %source{src: sufia.download_path(@nu_core_file, datastream_id: 'ogg'), type: "audio/ogg"}
      %source{src: sufia.download_path(@nu_core_file, datastream_id: 'mp3'), type: "audio/mpeg"}
      Your browser does not support the audio tag.
  - elsif @nu_core_file.pdf?
    %a{href: sufia.download_path(@nu_core_file), target: "_new", title: "Download the full-sized PDF"}
      %img{alt: "Download the full-sized PDF of #{@nu_core_file.title.first}", src: sufia.download_path(@nu_core_file, datastream_id: 'thumbnail'), width: "338"}>/
      Download the full-sized PDF
  - else
    %a{href: sufia.download_path(@nu_core_file), target: "_new"}
      %img{alt: "No preview available", height: "493", src: "/assets/default.png", width: "338"}/
  %figcaption
    =@nu_core_file.description