= render partial: 'nu_core_files/upload/agreement'
= render partial: 'nu_core_files/upload/alerts'
= render partial: 'nu_core_files/upload/form'
= render partial: 'nu_core_files/upload/script_templates'
