%ul.nav.nav-tabs
  %li.active
    %a{"data-toggle" => "tab", :href => "#local"}
      %i.icon-desktop
      My Computer
  - if Sufia.config.dropbox_api_key
    %li
      %a{"data-toggle" => "tab", :href => "#dropbox"}
        %i.icon-inbox
        Dropbox
