%h4 Downloads
- contents.each do |content| 
  - if current_user_can_read?(content)
    %a{ href: sufia.download_path(content.pid, {datastream_id: 'content'}) } 
      = content.title + ' - ' + content.type_label
    %div{:class => "sc_#{content.pid}"}
      = render partial: 'shopping_carts/add_or_remove', locals: { :id => content.pid }
    