<%# convert class variable to a local variable if the local hasn't been set %>
<% nu_core_file = @nu_core_file unless nu_core_file  %>

    <h2 class="non lower">Descriptions</h2>
    <table class="table table-striped"><!-- class="verticalheadings"> -->
      <tbody>
        <% (nu_core_file.terms_for_display - [:resource_type]).each do |term| %>
          <%= render_show_field_partial(term, nu_core_file: nu_core_file) %>
        <% end %>
      </tbody>
    </table> <!-- /verticalheadings -->

