- nu_core_file = @nu_core_file unless nu_core_file
%h3
  Details
%dl
  - (nu_core_file.terms_for_display - [:resource_type]).each do |term|
    = render_show_field_partial(term, nu_core_file: nu_core_file)
/ /dl.dl-horizontal
