%h1 Edit Metadata
%br
= form_for(@nu_core_file, :url => nu_core_file_path, :html => {:multipart => true }) do |f|

  = render :partial => 'nu_core_files/metadata/default', :formats => [:html], :locals => {:f => f, :new_object => false}

  / We need to account for the different file types here to extend the metdata screen

  .form-actions
    = f.submit class: ['btn', 'btn-primary'], :onclick => "confirmation_needed = false;", value: 'Submit'
    = link_to("Cancel", nu_core_file_path(@nu_core_file), class: ['btn', 'btn-warning'], confirm: "About to cancel edit, this will not apply changes to the core record.")

