%row
  %div.col-md-12
    %div.well
      %h2
        = @document.title
        %small
          =icon('folder-open')
          ="#{@document.klass}"
      %hr
      %div.handle
        =icon('link')
        ="Permanent URL:"
        -# =link_to TODO
%row
  -# insert facets TODO
  = render_document_index(@document.children)
