.row
  .col-md-12
    %h4
      Citation
.row
  .col-md-12
    .form-group
      %label Title
      %input.form-control.required{:name => "citation[title]", :required => "true", :type => "text"}/
      %label Volume
      %input.form-control.required{:name => "citation[volume]", :required => "true", :type => "text"}/
      %label Issue
      %input.form-control.required{:name => "citation[issue]", :required => "true", :type => "text"}/
      %label Page
      %input.form-control.required{:name => "citation[page]", :required => "true", :type => "text"}/
      %label Date
      %input.form-control.required{:name => "citation[date]", :required => "true", :type => "text"}/
      %label URL
      %input.form-control.required{:name => "citation[url]", :required => "true", :type => "text"}/
