.col-md-6
  .form-group
    %label First name
    %input.form-control{:name => "creator[firstname][]", :required => "true", :type => "text"}/
.col-md-6
  .form-group
    %label Last name
    .entry.controls.input-group
      %input.form-control{:name => "creator[lastname][]", :required => "true", :type => "text"}/
      %span.input-group-btn
        %button.btn.btn-success.btn-add{:type => "button", "data-toggle"=>"tooltip", :title => "Add another creator"}
          %span.glyphicon.glyphicon-plus
