.col-md-3
  %label Embargo
  = hidden_field_tag :embargo_release_date, 0, class: 'date'
  .row.no-gutters
    .col-md-4
      .form-group
        = select_year(0, {start_year: Time.zone.now.year, end_year: 2050, prompt: 'Year'}, {class: 'form-control selectpicker', "data-width" => "90%"})
    .col-md-4
      .form-group
        = select_month(0, {prompt: 'Month'}, {class: 'form-control selectpicker', "data-width" => "90%", "disabled" => "true"})
    .col-md-4
      .form-group
        = select_day(0, {prompt: 'Day'}, {class: 'form-control selectpicker', "data-width" => "90%", "disabled" => "true"})
