.col-md-6
  .row.no-gutters
    .col-md-12
      .form-group
        %label Group Permissions
        %br
        %select.form-control.selectpicker{:name => "group[]"}
          %option Marketing and Communications
        .entry.controls.input-group.select-gap
          %select.form-control.selectpicker{:name => "permission[]"}
            %option read
            %option edit
          %span.input-group-btn
            %button.btn.btn-success.btn-add{:type => "button", "data-toggle"=>"tooltip", :title => "Add another permission"}
              %span.glyphicon.glyphicon-plus
