.row
  .col-md-12
    %h4
      Permissions
      %small
        Click + to add another group permission
.row
  = render 'shared/metadata/mass_permissions', f: f
  = render 'shared/metadata/group_permissions', f: f
