.row-fluid
  .span12
    %legend Audio Metadata
.video_metadata
  .span6
    = f.label :description, "Thumbnail", class: "required-label"
    %small Choose an image for the audio file
  .span6
    = f.file_field :poster, name: 'poster', required: true, accept:".jpg,.jpeg,.png"
    %span.help-block
      This image will be displayed on the file page.
  .row-fluid
    .span6
      = label_tag :stream_only, "Streaming Only"
      = check_box_tag :stream_only
      %small This file is for streaming only and cannot be downloaded
