.row-fluid
  .span6
    = f.label :caption, "Captions"
    %small Choose a text file for the captions
  .span6
    = f.file_field :caption, name: 'caption', accept: ".vtt, .srt"
    %span.help-block
      This file will be included with the playing of this file
    - captions = @core_file.content_objects.select { |a| a.is_a?(TextFile)}
    - if captions.count > 0
      %span.help-block
        %a{href:download_url(captions[0].pid, {datastream_id: 'content'}), target:"_blank"} View existing captions file
