-if !current_user.nil?
  %h3
    %i.icon-asterisk
    Sorry, you don't have permission to access this page.
  %p
    You might be interested in
    %a{:href => "mailto:Library-Repository-Team@neu.edu"} contacting the DRS staff
    , or
    %a{:href => "https://northeastern.libanswers.com/form?queue_id=5581&resource=#{CGI::escape(request.original_url)}", :target => "_blank"} reporting the problem.
-else
  %h3
    %i.icon-asterisk
    Sorry, you don't have permission to access this page.
  %p
    Try
    - if Rails.env.production?
      %a{:href => "https://repository.library.northeastern.edu/users/auth/shibboleth"} logging in
    - else
      %a{:href => new_user_session_path} logging in
    to gain access.
