%h3
  %i.icon-asterisk
  Sorry, you encountered a system error.
%p
  The DRS tried to process your request but encountered
  an error.  We apologize for the inconvenience and will resolve
  the error soon.
%p
  You might be interested in
  %a{:href => "mailto:Library-Repository-Team@neu.edu"} contacting the DRS staff
  , or
  %a{:href => "http://library.northeastern.edu/get-help/tech-support/report-a-problem?resource=#{CGI::escape(request.original_url)}", :target => "_blank"} reporting the problem.
