%li{"data-behavior" => "batch-edit-select-none", "data-state" => "on"}
  %a{:href => "#"}
    %i.icon-remove
    Select None
%li{"data-behavior" => "batch-edit-select-page", "data-state" => "off"}
  %a{:href => "#"}
    %i.icon-ok
    Select Current Page
