-# main container for facets/limits menu
%div
  = link_to '<i class="icon-upload-alt"></i> Upload File(s)'.html_safe, new_nu_core_file_path, {:class => "btn btn-primary"}
  %br/
  .row &nbsp;
  %h2 Browse By
  %ul#facets.nav.nav-list
    = render_facet_partials
