- content_for :page_title, "Edit #{@set['title']}"

.container.p-4.my-3.well.rounded-3
  %h3
    %i.fa-solid.fa-layer-group.text-primary.me-2{'aria-hidden' => 'true'}
    Edit set
  - if flash.now[:alert]
    .alert.alert-warning
      %small= flash.now[:alert]
  = render 'form', url: set_path(@set['id']), method: :patch, submit_label: 'Save', cancel_path: set_path(@set['id'])
