-# add breadcrumbs (and search start over?)
-# add back blacklighttoolbox?

-if current_search_session
  %div#appliedParams.clearfix.constraints-container
    = link_to t('blacklight.search.start_over'), start_over_path, class: "catalog_startOverLink btn btn-primary"
    -# = link_back_to_catalog class: 'btn btn-secondary'

%row
  %div.col-md-12
    %h2= @work.title.first
    %hr
    %div.handle
      =icon('link')
      ="Permanent URL:"
      -# =link_to TODO

%row
  %div.col-md-6
    %p="content object here"
  %div.col-md-6
    %p="tabs here"
    =@mods
-# = render_document_main_content_partial

- content_for(:sidebar) do
  = render_document_sidebar_partial
