- no_smart_collections = true
%section.row
  %article.span6
    %h3
      = t('drs.personal_graph.system_generated_smart_collections')
    -if smart_collections.length > 0
      %section{class: ["drs-items-list", "drs-items"] }
        - smart_collections.each do |f|
          - # Don't show empty smart collections unless they're the current user's
          - if !f.is_empty_collection? || (current_user && current_user.nuid == @employee.nuid) || (current_user && current_user.proxy_staff?)
            - @thumbs = f.thumbnail_list
            - no_smart_collections = false
            =render partial: "shared/drs_item/drs_item", locals: { item: f }
    - if no_smart_collections
      .alert.alert-info
        %strong
          No scholarly works for this person at this time.
        %button.close{"data-dismiss" => "alert", type: "button"} &#215;
  %article.span6
    %h3
      = t('drs.personal_graph.personal_collections')
    %section{class: ["drs-items-list", "drs-items"] }
      -if user_collections.length > 0
        - user_collections.sort_by!{|f| f.title}
        - user_collections.each do |f|
          - # Don't show empty smart collections unless they're the current user's
          - if !f.is_empty_collection? || (current_user && (@current_user.nuid == @employee.nuid || @current_user.proxy_staff?))
            - @thumbs = f.thumbnail_list
            =render partial: "shared/drs_item/drs_item", locals: { item: f }
    -if user_collections.length == 0
      .alert.alert-info
        %strong
          No user collections to show.
          -if editable
            Create a new collection.
        %button.close{"data-dismiss" => "alert", type: "button"} &#215;

    -if editable
      = link_to("Create a new collection", new_collection_path(parent: @employee.user_root_collection.pid,), class: ["btn", "btn-clear", "btn-block", ] )
