%section.row
  %article.span6
    %h3
      = t('drs.personal_graph.system_generated_smart_collections')
    -if smart_collections.length > 0
      %section{class: ["drs-items-list", "drs-items"] }
        - smart_collections.each do |f|
          - # Don't show empty smart collections unless they're the current user's
          - if !f.is_empty_collection? || (current_user && current_user.nuid == @employee.nuid)
            - @thumbs = f.thumbnail_list
            =render partial: "shared/drs_item/drs_item", locals: { item: f }
  %article.span6
    %h3
      = t('drs.personal_graph.personal_collections')
    -if user_collections.length > 0
      %section{class: ["drs-items-list", "drs-items"] }
        - user_collections.each do |f|
          - # Don't show empty smart collections unless they're the current user's
          - if !f.is_empty_collection? || (current_user && @current_user.nuid == @employee.nuid)
            - @thumbs = f.thumbnail_list
            =render partial: "shared/drs_item/drs_item", locals: { item: f }
    -else
      .alert.alert-info
        %strong
          No user collections to show.
          -if editable
            Create a new collection.
        %button.close{"data-dismiss" => "alert", type: "button"} &#215;

    -if editable
      = link_to("Create a new collection", new_nu_collection_path(parent: @employee.user_root_collection.pid,), class: ["btn", "btn-clear", "btn-block", ] )
