- content_for :page_header do
  %h1.page-header
    = "#{@employee.employee_name}"
    %small
      All Files

.row
  - if current_user
    - current_user.view_pref
    %aside.drs-sidebar{class: current_user.view_pref == 'grid' ? 'span12' : "span3" }
      =render partial: 'shared/sets/sets_sidebar'

    %section{class: current_user.view_pref == 'grid' ? 'span12' : "span9" }
      %ul.drs-items{data: {toggle: "drs-view"}, class: drs_view_class()}
        - @files.each do |f|
          =render partial: "shared/drs_item/drs_item", locals: { item: f }
  - else
    %aside.drs-sidebar.span3
      =render partial: 'shared/sets/sets_sidebar'

    %section.span9
      %ul.drs-items{data: {toggle: "drs-view"}, class: drs_view_class()}
        - @files.each do |f|
          =render partial: "shared/drs_item/drs_item", locals: { item: f }
