-content_for :page_header do
  %h1.page-header
    ="#{@employee.pretty_employee_name}"
    %small
      All Loaders
    %nav{role: "navigation", class: ["pull-right"]}
      %ul.nav.nav-tabs
        %li
          %a{ href: employee_path(@employee) }
            %i.icon-user
            My Collections
        %li
          %a{ href: employee_files_path(@employee) }
            %i.icon-file
            My Deposits
        %li
          %a{ href: employee_communities_path(@employee) }
            %i.icon-group
            My Communities


%section.row
  %article.span6
    %h3 My Loaders
    = link_to("Marketing and Communications", loaders_marcom_path, class: "btn btn-lg btn-primary")

  %article.span6
    %h3 Past Loads
    - @loads = Loaders::LoadReport.where('loader_name = "Marketing and Communications"', true).find_all
    = render template: "/loaders/index", locals: {loads: @loads}
