- content_for :page_header do
  %h1.page-header
    = "#{@employee.name}"

= render partial: "show_personal_graph", locals: { :generated_smart_collections => @employee.sorted_smart_collections, :user_smart_collections => @employee.personal_collections, :editable => false }
