- compilations.each do |comp| 
  %li.span2
    %div.thumbnail.text-center
      %a{:href => compilation_path(comp) }
        %h5
          =comp.title
      - if comp.description != nil 
        %small
          = comp.description 