- @compilations.each do |c| 
  %div.compilation 
    %span.title= c.title
    %br
    - if !c.entry_ids.include?(params[:file])
      = link_to("Add to this compilation", add_entry_path(id: c.pid, entry_id: params[:file]), method: 'post', remote: true)
    -  else 
      %p This file is already in this compilation 
    %p -----