%h1.page-header Your Compilations
%p.lead
  Compilations are collections of objects that you can create, share and store.
%ul.all_compilations.thumbnails 
  - if !@compilations.empty?
    = render partial: 'all_compilations', locals: { compilations: @compilations }
  - else
    %li.span12  
      .alert.alert-info
        %strong No compilations available!
        Create a new compilation today.
  %li.span2
    %a.thumbnail.thumbnail-btn(href=new_compilation_path)
      / %i.icon-folder-open-alt.icon-block-1s
      %span.icon-stack
        %i.icon-folder-close-alt.midnight-blue.icon-stack-base
        %i.icon-plus
      %h5.text-center Create a new Compilation

