%h3 Your download is being prepared.  

%p Note that for large compilations this can take some time.  A link to download your .zip will be shown when the file is ready.  

%div#display_download_link

%div#data{:data => {:comp_id => @compilation.pid}}