%h1.page-header.compilation-title
  = @compilation.title
  %small
    %i.icon-folder-open-alt
    Compilation

%p.lead
  = @compilation.description

=render partial: 'compilations_actions_nav.haml'



- if @compilation.entries.empty?
  %p This compilation is currently empty.  Get out there and add some files. 
- else 
  = render partial: 'all_entries', locals: { compilation: @compilation, entries: @compilation.entries }


