%h3= @compilation.title

%p= @compilation.description

- if @compilation.entries.empty?
  %p This compilation is currently empty.  Get out there and add some files. 
- else 
  = render partial: 'all_entries', locals: { compilation: @compilation, entries: @compilation.entries } 