- content_for :page_header do
  %h1.page-header Your download is being prepared.

.alert.alert-info
  %strong Note:
  Large #{ t('drs.compilations.name')}s can take some time.  Your
  %code .zip
  will start downloading when the file is ready.
  %a.close(data-dismiss="alert" href="#" aria-hidden="true")
    &times;

%div#display_download_link

.progress.progress-striped.active
  .bar{style: "width: 100%;"}


%div#data{:data => {:comp_id => @compilation.pid}}
