.row-fluid
  .span12
    %legend Learning Object
.learning_object_metadata
  .span6
    = f.label :title, "Course Title", class: "required-label"
    = f.text_field :title, class: "input-block-level", placeholder: "Econ", required: true
  .span6
    = f.label :title, "Course Number", class: "required-label"
    = f.text_field :title, class: "input-block-level", placeholder: "101", required: true
