.learning_object_metadata.row-fluid
  .span4
    %legend Learning Object
  .span5
    = f.label :title, "Course Title", class: "required-label"
    = f.text_field :title, class: "input-block-level", placeholder: "Econ"
  .span3
    = f.label :title, "Course Number", class: "required-label"
    = f.text_field :title, class: "input-block-level", placeholder: "101"
