= render partial: 'shared/smart_collections/head', locals:{smart_collection:smart_collection}
= render partial: 'shared/smart_collections/smart_collection', locals:{smart_collection:smart_collection}
