<% if keywords.empty? %> 
  <div class='keyword'> 
    <%= f.label :keywords, "Add some relevant keywords" %> 
    <%= f.text_field :keywords, value: "", name: 'nu_collection[keywords][]', pattern: ".*\\S.*"%>
  </div>
<% else %> 
	<% keywords.each do |keyword| %> 
		<div class='keyword'> 
			<%= f.label :keywords, "Add some relevant keywords" %> 
			<%= f.text_field :keywords, value: keyword, name: 'nu_collection[keywords][]', pattern: ".*\\S.*" %> 
		</div> 
	<% end %> 
<% end %> 