- if corporate_names.empty?
  .corporate_creator
    = f.label :corporate_creators, "Enter an organization name:"
    = f.text_field :corporate_creators, value: "", name: 'nu_collection[corporate_creators][]', class: "input-block-level", placeholder: "Northeastern University"
- else
  - corporate_names.each do |name|
    .corporate_creator
      = f.label :corporate_creators, "Enter an organization name:"
      = f.text_field :corporate_creators, value: name.strip, name: 'nu_collection[corporate_creators][]', class: "input-block-level", placeholder: "Northeastern University"
