- if !session['ids'] || !session['ids'].include?(id) 
  = link_to("Add to download", update_cart_path(add: id), :method => 'put',:remote => true) 
- else
  = link_to("Remove from download", update_cart_path(delete: id), :method => 'put', :remote => true) 