%a.btn.btn-mini.btn-clear{ title: "Add to " + t('drs.shoppingcarts.name'), href:  update_cart_path(add: id), data: { :method => 'put', :remote => 'true', toggle: "tooltip", container: 'body' }, "aria-role" => "checkbox", "aria-checked" => "false" ,  "data-shoppingcart" => ""}
  =render partial: 'shared/icon', locals: {class_string: "icon-check-empty", alt_text:  "Add to " +  t('drs.shoppingcarts.name') }
  =render partial: 'shared/icon', locals: {class_string: "icon-download-alt" }
