%ul
  %li
    = item.title
    = link_to("X" , update_cart_path(delete: item.id), :method => 'put', :remote => true, title: "Remove from  #{t('drs.shoppingcarts.name')}", data: {toggle: "tooltip"}, class: "close") 