#emptyCartModal.modal.hide.fade{ "aria-hidden" => "true", "aria-labelledby" => "emptyCartModalLabel", role: "dialog", tabindex: "-1" }
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button" } x
    %h3#emptyCartModalLabel
      Confirm clearing #{t('drs.shoppingcarts.name')}
  .modal-body
    %p Are you sure you want to clear your #{t('drs.shoppingcarts.name')}?
  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal" } Close
    =link_to("Clear", shopping_cart_path, method: :delete, class: "btn btn-danger")
