- content_for :page_header do
  %h1.page-header
    =render partial: 'shared/icon', locals: {class_string: "icon-download-alt" }
    = t('drs.shoppingcarts.name').titlecase
= render partial: "download_list"
= render partial: "actions"
  