- content_for :page_header do
  %h1.page-header
    =render_icon('icon-download-alt')  
    = t('drs.shoppingcarts.name').titlecase
- if @items.length > 0 
  .drs-items.drs-items-list
  - @items.each do |item| 
    = render partial: 'datastream_download', locals: { item: item }

  = link_to("Download", cart_download_path) 
  = link_to("Destroy", shopping_cart_path, method: 'delete', confirm: 'This will clear all current items') 