%ul.breadcrumb
  %li
    = link_to 'Admin Panel', '/admin'
  %li.active
    = link_to 'Manage Employees', '/admin/employees'

%h2.page-header All Employees

%table.table.table-sctriped
  - @employees.each do |employee|
    = render partial: 'employee_admin', locals: { employee: employee }
