= form_for @set, url: {action: "create"}, html: {class: "nifty_form"} do |f|
  .form-group
    %label Title
    = f.text_field :title
  .form-group
    %label Description
    = f.text_area :description
  %button.btn.btn-default{:type => "submit"} Submit
