- return if files.blank?

#downloads.card.mb-4
  .card-header
    %h2.h5.mb-0 Downloads
  %ul.list-group.list-group-flush
    - files.each do |file|
      %li.list-group-item.d-flex.align-items-center
        %span.fa-regular{class: file_type_icon(file.mime_type), 'aria-hidden' => true}
        .ms-3.flex-grow-1
          .fw-semibold= file.label
          - if file[:size]
            %small.text-muted= number_to_human_size(file[:size])
        = link_to download_path(file.noid), class: 'btn btn-outline-primary btn-sm ms-3', 'aria-label' => "Download #{file.label}", data: { turbo: false } do
          %span.fa-solid.fa-download{'aria-hidden' => true}
          %span.ms-1 Download
