- return if files.blank?

#downloads.card.mb-4
  .card-header
    %h2.h5.mb-0 Downloads
  %ul.list-group.list-group-flush
    - files.each do |file|
      = render 'works/download_row', file: file, work_noid: @work.id
