.thumbnail{style: "background-color: white; border: 1px solid rgba(0,0,0,0.2); width: 500px; height: 30%; margin-top: 7px; position: relative; overflow: hidden;"}
  %span.fa-regular.fa-image.fa-2xl{style: "position: absolute; margin: auto; top: 0; left: 0; right: 0; bottom: 0;"}
