.thumbnail{style: "background-color: white; border: 1px solid rgba(0,0,0,0.2); width: 100%; max-width: 500px; aspect-ratio: 4 / 3; margin-top: 7px; display: flex; align-items: center; justify-content: center; overflow: hidden;"}
  %span.fa-regular.fa-image.fa-3x.text-muted{'aria-hidden' => 'true'}
