- src = @work.preview.presence || (@work.thumbnail.presence && "#{@work.thumbnail}/full/500,/0/default.jpg")
- if src.present?
  = render partial: "image", locals: {src: src}
- else
  = render partial: "icon"
