= form_tag("/works", method: "post", multipart: true, id: "singleFileUploadForm") do
  .form-group
    %label.btn.btn-default.btn-file
      Select File
      %input{:style => "display: none;", :type => "file"}/
  .form-group
    %button.btn.btn-default{:id => "singleSubmit"} Upload

.progress
  .progress-bar{:role => "progressbar", :style => "width: 0%;"}

:javascript
  $(function () {
    var file_list = [];
    $('#singleFileUploadForm').fileupload({
        dataType: 'html',
        replaceFileInput: false,
        autoUpload: false,
        add: function (e, data) {
            data.context = $("#singleSubmit")
                .click(function (e) {
                  e.preventDefault();
                  $(this).attr("disabled", true);
                  $(this).val("Please wait...");
                });
          file_list = [data.files[0]]; //this guarantees that the files being uploaded is only the most recently added one
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('.progress-bar').css(
                'width',
                progress + '%'
            );
            if (progress == 100) {
              $(".progress").after("<div class='alert alert-success'>Your file has been uploaded and is now being processed.</div>");
            }
        },
        done: function (e, data) {
        }
    });
    $('#singleSubmit').click(function(e){
      e.preventDefault();
      $('#singleFileUploadForm').fileupload('send', {files:file_list});
    })
  });
