%h1.page-header
  Provide Metadata

%form
  .form-group
    / Name field
    %label.control-label{:for => "name"} Name
    %input#name.form-control{:name => "name", :type => "text"}/
  .form-group
    / Email field
    %label.control-label.requiredField{:for => "email"}
      Email
      %span.asteriskField *
    %input#email.form-control{:name => "email", :type => "text"}/
  .form-group
    / Subject field
    %label.control-label{:for => "subject"} Subject
    %input#subject.form-control{:name => "subject", :type => "text"}/
  .form-group
    / Message field
    %label.control-label{:for => "message"} Message
    %textarea#message.form-control{:cols => "40", :name => "message", :rows => "10"}
  .form-group
    %button.btn.btn-primary{:name => "submit", :type => "submit"} Submit
