#editor
  = @raw_xml

%script{:charset => "utf-8", :src => "/ace/ace.js", :type => "text/javascript"}

:javascript
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/eclipse");
  editor.session.setMode("ace/mode/xml");
