= turbo_stream.replace "mods" do
  - if @errors.present?
    #mods
      .alert.alert-danger.mt-3{role: "alert"}
        %h5.alert-heading XML validation failed
        %ul.mb-0
          - @errors.each do |err|
            %li= err.to_s
  - else
    = @mods.html_safe

  :javascript
    document.querySelectorAll(".loading-state").forEach(function(el){
      el.style.transition = "opacity 500ms";
      el.style.opacity = "0";
      setTimeout(function(){ el.style.visibility = "hidden"; }, 500);
    });
    window.scrollTo(0,0);
