= turbo_stream.replace "mods" do
  = @mods.html_safe

  :javascript
    $(".loading-state").animate({opacity: 0.0}, 500, function(){
      $(".loading-state").css("visibility","hidden");
    });
    window.scrollTo(0,0);
