.admin-registry.my-3
  %header.admin-registry__head
    %span.admin-registry__title
      %i.fa-solid.fa-plus{'aria-hidden' => 'true'}
      Register a new loader
    %span.admin-registry__subtitle
      %i.fa-solid.fa-lock{'aria-hidden' => 'true'}
      Admin-only
  .admin-registry__body
    = render 'form'
