- page_info = paginate_params(@response)
%ul.drs-items{start: 1+((page_info.current_page-1)*page_info.limit_value), data: {toggle: "drs-view"}, class: drs_view_class()}
  - docs.each_with_index do |document,counter|
    = render partial: 'shared/drs_item/drs_item' , locals: { item: prepare_drs_item(document) }
