- page_info = paginate_params(@response)
%ul.drs-items.drs-items-list{start: 1+((page_info.current_page-1)*page_info.limit_value)}
  - docs.each_with_index do |document,counter|
    =# render :partial => 'catalog/_index_partials/list_files', :locals => {:document => document, :counter => counter}
    = render partial: 'shared/drs_item/drs_item' , locals: { item: prepare_drs_item(document) }
