- page_info = paginate_params(@response)
%ul.drs-items{start: 1+((page_info.current_page-1)*page_info.limit_value), data: {toggle: "drs-view"}, class: drs_view_class()}
  -if !@smart_collections.nil? && @smart_collections.length > 0 && page_info.current_page == 1
    - @smart_collections.each do |smart_collection|
      =render :partial => 'shared/drs_item/drs_item_smart_collection', locals: { smart_collection_path: 'www.google.com', smart_collection_icon: 'icon-folder-open', smart_collection_title: 'Burgers' }
  - docs.each_with_index do |document,counter|
    = render partial: 'shared/drs_item/drs_item' , locals: { item: document }
