%tr.audit-event.audit-event--restore
  %td= audit_event_timestamp(event)
  %td= audit_event_action_badge(event)
  %td= audit_event_nuid(event['actor_nuid'])
  %td= audit_event_nuid(event['on_behalf_of_nuid'])
