-content_for :page_header do
  %h1.page-header
    Dashboard
    %small
      = @user.name

%p.lead
  List of all files and activity

%section.row
  %article.span6
    %h3
      Files
    -if @recent_user_documents.length > 0
      %section{class: ["drs-items-list", "drs-items"] }
        - @recent_user_documents.each do |f|
          =render partial: "shared/drs_item/drs_item", locals: { item: f }
  %article.span6
    %h3
      Recent Activity
      =render partial: "users/activity_log", locals: { :events => @events }

