%nav(role="navigation")
  %ul.nav.nav-tabs
    %li.active
      %a(href="#metadata" data-toggle="tab")
        Metadata
    - if !@core_file.supplemental_materials.blank? || !@core_file.supplemental_material_for.blank? || !@core_file.instructional_materials.blank? || !@core_file.instructional_material_for.blank? || @core_file.page_objects.length > 1
      %li
        %a(href="#supplemental-files" data-toggle="tab" data-pid="#{@core_file.pid}")
          Associated Files
    - if current_user_can? :edit, @core_file
      %li
        %a{ href: edit_core_file_path(@core_file),  data: {event: "external"} }
          %i.icon-pencil
          Edit
      %li
        %a{ href: "#move", data: {toggle: "tab"}}
          %i.icon-exchange
          Move
      %li
        %a{ href: "#delete", data: {toggle: "tab"}}
          %i.icon-trash
          Delete
      - if current_user.repo_staff? || current_user.beta?
        %li
          %a{ href: edit_core_file_xml_path(@core_file),  data: {event: "external"} }
            %i.icon-edit
            XML
