- if !current_user.nil? && ( current_user.admin_group? || current_user.admin? ) && !@core_file.has_master_object?
  #addToCoreLinks{style: "display: none;"}
    = render_attach_files_button(@core_file, "Upload File", {class: "btn btn-mini"})
