- if !current_user.nil? && ( current_user.admin_group? || current_user.admin? )
  %li.action
    %a#addToSet(data-pid="#{@core_file.pid}" href="javascript:;" data-add-to-set="1" data-toggle="popover")
      %i.icon-plus-sign-alt
      Add
