%div
  -if current_user.admin?
    %a.btn.btn-danger{ href:tombstone_file_path, data: { confirm: "Are you sure you want to tombstone this file?" } }
      Tombstone File
  -else
    = form_tag( request_tombstone_file_path ) do
      %fieldset
        .row-fluid
          .span10
            = label_tag :reason, "Why are you requesting this item be deleted?", class: 'required-label'
            = text_area_tag :reason, nil, :required => true, rows: 5, class: 'input-block-level'
            = submit_tag 'Request Deletion', class: "btn btn-danger", data: { confirm: "Are you sure you want to request that this file be deleted?"}
