#deleteModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "deleteModalLabel", role: "dialog", tabindex: "-1" }
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} x
    %h3#deleteModalLabel
      = title
  .modal-body
    %p= "Are you sure you want to delete this item?"
  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal" } Close
    = submit_tag button_title, class: "btn btn-danger"
