%nav(role="navigation")
  %ul.nav.nav-tabs
    %li.active
      %a{ href: "#edit",  data: {toggle: "tab"} }
        %i.icon-pencil
        Edit
    %li
      %a{ href: "#move", data: {toggle: "tab"}}
        %i.icon-exchange
        Move
    %li
      %a{ href: "#delete", data: {toggle: "tab"}}
        %i.icon-trash
        Delete
    - if current_user.repo_staff? || current_user.beta?
      %li
        %a{ href: edit_core_file_xml_path(@core_file),  data: {event: "external"} }
          %i.icon-edit
          XML
      %li
        %a{ href: core_file_mods_history_list_path(id: @core_file.pid)}
          %i.icon-undo
          MODS History
