%figure
  - if @core_file.image?
    -if @thumbs.length > 0
      = render partial: 'shared/thumbnails/full_picture'
    -else
      %i.icon-picture.icon-4x.icon-border.drs-icon-figure
  - elsif @core_file.video?
    %video.video-js.vjs-default-skin{controls: "controls", "data-setup" => "{}", preload: "auto"}
      %source{src: download_path(@core_file, datastream_id: 'webm'), type: "video/webm"}
      %source{src: download_path(@core_file, datastream_id: 'mp4'), type: "video/mp4"}
      Your browser does not support the video tag.
  - elsif @core_file.audio?
    %audio.video-js.vjs-default-skin{controls: "controls", "data-setup" => "{}", preload: "auto"}
      %source{src: download_path(@core_file, datastream_id: 'ogg'), type: "audio/ogg"}
      %source{src: download_path(@core_file, datastream_id: 'mp3'), type: "audio/mpeg"}
      Your browser does not support the audio tag.
  - elsif @core_file.pdf?
    -if @thumbs.length > 0
      = render partial: 'shared/thumbnails/full_picture'
    -else
      %i.icon-picture.icon-4x.icon-border.drs-icon-figure
  - elsif @core_file.zip?
    -if @thumbs.length > 0
      = render partial: 'shared/thumbnails/full_picture'
    -else
      %i.icon-zip.icon-4x.icon-border.drs-icon-figure
  - else
    -if @thumbs.length > 0
      = render partial: 'shared/thumbnails/full_picture'
    -else
      %i.icon-file.icon-4x.icon-border.drs-icon-figure
