
%h4 Downloads

- if !(@core_file.under_embargo?(current_user))
  .btn-toolbar
    = render partial: 'derivative_btn_group', locals: {contents: @content_objects, list_view: true, item: @core_file}
- else
  %span= "Downloads available #{@core_file.embargo_release_date(formatted: true)}"
