-# Add Group button for the group-permissions Stimulus controller.
-# Host view must wrap this (and the rendered _group_permissions partial) in
-# an element with data-controller="group-permissions".
= button_tag 'Add Group',
             type: 'button',
             id: 'add-group',
             class: 'btn btn-info float-end',
             data: { 'group-permissions-target': 'addButton',
                     action: 'click->group-permissions#add' }
