.modal#downloadsModal{tabindex: '-1', 'aria-labelledby' => 'downloadsModalLabel', 'aria-hidden' => 'true', data: { controller: 'downloads-modal' }}
  .modal-dialog.modal-dialog-centered
    .modal-content{style: 'min-height: 12rem;'}
      .modal-header
        %h2.modal-title.h5#downloadsModalLabel Downloads
        %button.btn-close{type: 'button', 'data-bs-dismiss' => 'modal', 'aria-label' => 'Close'}
      .modal-body.p-0
        %turbo-frame#downloads-modal-frame{data: { 'downloads-modal-target' => 'frame' }}
          .p-4.text-center
            .spinner-border{role: 'status'}
              %span.visually-hidden Loading…
