%footer.footer.mt-auto.py-3
  .container-lg
    .row
      .col-sm-3.ps-0.pb-3
        = image_tag "NU_Wordmark_Wh.svg", width: "200px", style: "object-fit: cover; height: 20px;"
      .col-sm-6.small.pt-1
        %ul.list-inline
          %li.list-inline-item
            %a{:href => "https://my.northeastern.edu/"} MyNEU
          %li.list-inline-item
            %a{:href => "https://nu.outsystemsenterprise.com/FSD/"} Find Faculty &amp; Staff
          %li.list-inline-item
            %a{:href => "https://library.northeastern.edu/research/resources/a-to-z-index"} Find A-Z
          %li.list-inline-item
            %a{:href => "https://www.northeastern.edu/emergency-information/"} Emergency Information
          %li.list-inline-item
            %a{:href => "https://www.northeastern.edu/search"} Search
        %p
          360 Huntington Ave., Boston, Massachusetts 02115 · 617.373.2000 · TTY 617.373.3768
      .col-sm-3
        %ul.nu-social
          %li
            %a.twitter{:href => "http://twitter.com/northeastern", :target => "_blank"}
              %span.sr-only Northern University on Twitter
              %span.fa-brands.fa-twitter
          %li
            %a.facebook{:href => "http://www.facebook.com/northeastern", :target => "_blank"}
              %span.sr-only Northeastern on Facebook
              %span.fa-brands.fa-facebook
          %li
            %a.youtube{:href => "https://www.youtube.com/northeastern", :target => "_blank"}
              %span.sr-only Northern University on YouTube
              %span.fa-brands.fa-youtube
        %br
        .float-end.small
          = "#{application_name} #{application_version}"
