- thumb = "#{base}/full/!85,85/0/default.jpg"
- thumb_2x = "#{base}/full/!170,170/0/default.jpg"
.col-md-auto
  .document-thumbnail
    %img{loading: "lazy", src: thumb, srcset: "#{thumb} 1x, #{thumb_2x} 2x"}/
