- src_2x ||= nil
.col-md-auto
  .document-thumbnail
    - if src_2x.present?
      %img{loading: "lazy", src: src, srcset: "#{src} 1x, #{src_2x} 2x"}/
    - else
      %img{loading: "lazy", src: src}/
