<header>
  <h1 class="page-header">
    Edit Sentinel
  </h1>
</header>

<%= render partial: 'metadata' %>

<script>
  $(document).ready(function () {
  	$("input:checkbox").click(function () {
  		if($(this).is(':checked')) {
  			$(this).parent().find('*:disabled').removeAttr("disabled");
  		} else {
  			$(this).parent().find('select, button, input:hidden').prop('disabled', true);
  		}
  	});
  });
</script>
