.p-5.my-3.well.rounded-3
  %h1
    %i.fa-solid.fa-box-archive
    DRS · Digital Repository Service
  %p.pt-3.lead
    The Digital Repository Service is a secure repository system, designed to store and share scholarly, administrative, and archival materials on behalf of the Northeastern University community.
    %br
    %br
    Anyone is welcome to use the DRS to discover publicly available content. Members of the Northeastern community are encouraged to sign in to access additional content that may not be publicly available. For more information about the DRS, or for help getting started, visit the Digital Scholarship Group's
    = succeed "." do
      %a{:href => "https://dsg.neu.edu/services/drs/", :target => "_blank"} DRS resource page
