.well-padded-thumb{
  margin-right: 1em;
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  text-align: center;
}

.set-description{
  overflow: hidden;
  margin-top: 10px;
}

.inline-headings{
  h1{
    margin-right: 5px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: inline;
  }
  small{
    vertical-align: middle;
  }
}

.navbar-form .btn{
  margin-top: 6.5px;
}
