.well-padded-thumb{
  margin-right: 1em;
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  text-align: center;
  @media(max-width:$breakpoint-m){
    margin: 10px 10px 10px 0px;
  }
}

.set-description{
  overflow: hidden;
  margin-top: 10px;
  @media(max-width:$breakpoint-m){
    clear: both;
  }
}

.inline-headings{
  h1{
    margin-right: 5px;
    small {
      padding-left: 0;
    }
    span[class*="icon-"] {
      font-size: 25px;
      padding-left: 5px;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: inline;
  }
  p{
    margin-top: 10px;
  }
  @media(max-width:$breakpoint-m){
    .navbar-form {
      float: none;
    }
    #searchFieldHeader {
      width: 80%;
      display: inline-block;
    }
  }
}

.navbar-form .btn{
  margin-top: 6.5px;
}
