%h1.page-header.slim-margin
  Provide Metadata
  %small
    %span.glyphicon.glyphicon-pencil
    Please supply some details about your file.

= form_tag(process_metadata_path(@id), method: "post", multipart: true, id: "provideMetadataForm") do
  .row
    .col-md-12
      %h4 Basic Information
  .row
    .col-md-6
      .form-group
        %label Title
        %span.asteriskField *
        %input.form-control.required{:name => "title", :required => "true", :type => "text"}/
    .col-md-3
      %label Date Created
      .row.no-gutters
        .col-md-4
          .form-group
            %select.form-control.selectpicker{:name => "date_year", "data-width" => "90%"}
              %option 1990
        .col-md-4
          .form-group
            %select.form-control.selectpicker{:name => "date_month", "data-width" => "90%"}
              %option 12
        .col-md-4
          .form-group
            %select.form-control.selectpicker{:name => "date_day", "data-width" => "90%"}
              %option 31
    .col-md-3
      %label Embargo
      .row.no-gutters
        .col-md-4
          .form-group
            %select.form-control.selectpicker{:name => "embargo_year", "data-width" => "90%"}
              %option 1990
        .col-md-4
          .form-group
            %select.form-control.selectpicker{:name => "embargo_month", "data-width" => "90%"}
              %option 12
        .col-md-4
          .form-group
            %select.form-control.selectpicker{:name => "embargo_day", "data-width" => "90%"}
              %option 31
  .row
    .col-md-12
      .form-group
        %label Description
        %textarea.form-control{:cols => "40", :name => "description", :rows => "10"}
  .row
    .col-md-12
      %h4
        Keywords
        %small
          Click + to add another keyword
  .row
    .col-md-12
      .form-group
        %label Keyword
        %span.asteriskField *
        .entry.controls.input-group
          %input.form-control.required{:name => "keywords[]", :required => "true", :type => "text"}/
          %span.input-group-btn
            %button.btn.btn-success.btn-add{:type => "button"}
              %span.glyphicon.glyphicon-plus
  .row
    .col-md-12
      %h4
        Creators
        %small
          Click + to add another creator
  .row
    .col-md-6
      .form-group
        %label First name
        %input.form-control{:name => "creator[firstname][]", :required => "true", :type => "text"}/
    .col-md-6
      .form-group
        %label Last name
        .entry.controls.input-group
          %input.form-control{:name => "creator[lastname][]", :required => "true", :type => "text"}/
          %span.input-group-btn
            %button.btn.btn-success.btn-add{:type => "button", "data-toggle"=>"tooltip", :title => "Add another creator"}
              %span.glyphicon.glyphicon-plus
  .row
    .col-md-12
      %h4
        Companies, institutions, or other organizations
        %small
          Click + to add another entity
  .row
    .col-md-12
      .form-group
        %label Entity
        .entry.controls.input-group
          %input.form-control{:name => "organizations[]", :required => "true", :type => "text"}/
          %span.input-group-btn
            %button.btn.btn-success.btn-add{:type => "button"}
              %span.glyphicon.glyphicon-plus
  .row
    .col-md-12
      %h4
        Permissions
        %small
          Click + to add another group permission
  .row
    .col-md-6
      .row.no-gutters
        .col-md-12
          .form-group
            %label Mass Permissions
            %br
            %select.form-control.selectpicker{:name => "mass_permission"}
              %option public
              %option private
            .select-gap
              Setting to 'public' will allow anyone accessing the site to see your item.
              %br
              Setting to 'private' will only allow groups that are explicitly chosen to see your item.
    .col-md-6
      .row.no-gutters
        .col-md-12
          .form-group
            %label Group Permissions
            %br
            %select.form-control.selectpicker{:name => "group[]"}
              %option Marketing and Communications
            .entry.controls.input-group.select-gap
              %select.form-control.selectpicker{:name => "permission[]"}
                %option read
                %option edit
              %span.input-group-btn
                %button.btn.btn-success.btn-add{:type => "button"}
                  %span.glyphicon.glyphicon-plus
  .row
    .col-md-12
      .form-group.text-right
        %button.btn.btn-primary{:name => "submit", :type => "submit"} Submit

:javascript
  $(function() {
    $('[data-toggle="tooltip"]').tooltip({
    container: 'body'
    });
  });
  $(function()
  {
      $(document).on('click', '.btn-add', function(e)
      {
          e.preventDefault();

          var hr = document.createElement("hr");

          var controlForm = $('#provideMetadataForm'),
              currentEntry = $(this).parents('.row:first'),
              newEntry = $(currentEntry.clone().find('.dropdown-toggle, .dropdown-menu').remove().end()).insertAfter(currentEntry);
              newEntry.find(':input').not(':button, :submit, :reset, :hidden').removeAttr('checked').removeAttr('selected').not('‌​:checkbox, :radio, select').val('');

          $(hr).insertAfter(currentEntry);

          $('.selectpicker').selectpicker({});

          newEntry.find('.btn-add:last')
              .removeClass('btn-add').addClass('btn-remove')
              .removeClass('btn-success').addClass('btn-danger')
              .html('<span class="glyphicon glyphicon-minus"></span>');
      }).on('click', '.btn-remove', function(e)
      {
        $(this).parents('.row').first().prev().remove();
    		$(this).parents('.row').first().remove();
    		e.preventDefault();
    		return false;
  	});
  });
