%h1.page-header
  Provide Metadata

%form
  .form-group
    / Name field
    %label.control-label{:for => "title"} Title
    %span.asteriskField *
    %input#name.form-control{:name => "title", :type => "text"}/
  .form-group
    / Subject field
    %label.control-label{:for => "keyword"} Keywords
    %span.asteriskField *
    .controls
      .entry.input-group
        %input#keyword.form-control{:name => "keyword", :type => "text"}/
        %span.input-group-btn
          %button.btn.btn-success.btn-add{:type => "button"}
            %span.glyphicon.glyphicon-plus
  .form-group
    / Email field
    %label.control-label.requiredField{:for => "date"} Date Created
    -# %input#date.form-control{:name => "date", :type => "text"}
    .row-fluid
      %select#date-year.form-control.selectpicker{:name => "date-year", "data-width" => "auto"}
        %option 1990
      %select#date-month.form-control.selectpicker{:name => "date-month", "data-width" => "auto"}
        %option 12
      %select#date-day.form-control.selectpicker{:name => "date-day", "data-width" => "auto"}
        %option 30
  .form-group
    / Email field
    %label.control-label.requiredField{:for => "embargo"} Embargo
    .row-fluid
      %select#embargo-year.form-control.selectpicker{:name => "embargo-year", "data-width" => "auto"}
        %option 1990
      %select#embargo-month.form-control.selectpicker{:name => "embargo-month", "data-width" => "auto"}
        %option 12
      %select#embargo-day.form-control.selectpicker{:name => "embargo-day", "data-width" => "auto"}
        %option 30
  .form-group
    / Subject field
    %label.control-label{:for => "creator"} Creators
    .controls
      .entry.input-group
        %input#creator.form-control{:name => "creator", :type => "text"}/
        %span.input-group-btn
          %button.btn.btn-success.btn-add{:type => "button"}
            %span.glyphicon.glyphicon-plus
  .form-group
    / Subject field
    %label.control-label{:for => "organization"} Organizations
    .controls
      .entry.input-group
        %input#organization.form-control{:name => "creator", :type => "text"}/
        %span.input-group-btn
          %button.btn.btn-success.btn-add{:type => "button"}
            %span.glyphicon.glyphicon-plus
  .form-group
    / Message field
    %label.control-label{:for => "description"} Description
    %textarea#description.form-control{:cols => "40", :name => "message", :rows => "10"}
  .form-group
    %button.btn.btn-primary{:name => "submit", :type => "submit"} Submit

:javascript
  $(function()
  {
      $(document).on('click', '.btn-add', function(e)
      {
          e.preventDefault();

          var controlForm = $('.controls form:first'),
              currentEntry = $(this).parents('.entry:first'),
              newEntry = $(currentEntry.clone()).appendTo(controlForm);

          newEntry.find('input').val('');
          controlForm.find('.entry:not(:last) .btn-add')
              .removeClass('btn-add').addClass('btn-remove')
              .removeClass('btn-success').addClass('btn-danger')
              .html('<span class="glyphicon glyphicon-minus"></span>');
      }).on('click', '.btn-remove', function(e)
      {
  		$(this).parents('.entry:first').remove();

  		e.preventDefault();
  		return false;
  	});
  });
