%h1.page-header
  Provide Metadata

%form
  .form-group
    / Name field
    %label.control-label{:for => "name"} Name
    %input#name.form-control{:name => "name", :type => "text"}/
  .form-group
    / Email field
    %label.control-label.requiredField{:for => "email"}
      Email
      %span.asteriskField *
    %input#email.form-control{:name => "email", :type => "text"}/
  .form-group
    / Subject field
    %label.control-label{:for => "subject"} Subject
    .controls
      .entry.input-group
        %input#subject.form-control{:name => "subject", :type => "text"}/
        %span.input-group-btn
          %button.btn.btn-success.btn-add{:type => "button"}
            %span.glyphicon.glyphicon-plus
  .form-group
    / Message field
    %label.control-label{:for => "message"} Message
    %textarea#message.form-control{:cols => "40", :name => "message", :rows => "10"}
  .form-group
    %button.btn.btn-primary{:name => "submit", :type => "submit"} Submit

-# .container
-#   .row
-#     #fields.control-group
-#       %label.control-label{:for => "field1"} Nice Multiple Form Fields
-#       .controls
-#         %form{:autocomplete => "off", :role => "form"}
-#           .entry.input-group.col-xs-3
-#             %input.form-control{:name => "title", :placeholder => "Title", :type => "text"}/
-#           .entry.input-group.col-xs-3
-#             %input.form-control{:name => "fields[]", :placeholder => "Creators", :type => "text"}/
-#             %span.input-group-btn
-#               %button.btn.btn-success.btn-add{:type => "button"}
-#                 %span.glyphicon.glyphicon-plus

:javascript
  $(function()
  {
      $(document).on('click', '.btn-add', function(e)
      {
          e.preventDefault();

          var controlForm = $('.controls form:first'),
              currentEntry = $(this).parents('.entry:first'),
              newEntry = $(currentEntry.clone()).appendTo(controlForm);

          newEntry.find('input').val('');
          controlForm.find('.entry:not(:last) .btn-add')
              .removeClass('btn-add').addClass('btn-remove')
              .removeClass('btn-success').addClass('btn-danger')
              .html('<span class="glyphicon glyphicon-minus"></span>');
      }).on('click', '.btn-remove', function(e)
      {
  		$(this).parents('.entry:first').remove();

  		e.preventDefault();
  		return false;
  	});
  });
