%h1.page-header
  Provide Metadata
  %small
    %span.glyphicon.glyphicon-pencil
    Please supply some details about your file.

%form
  .row
    .col-md-12
      %h4 Basic Information
  .row
    .col-md-6
      .form-group
        %label{:for => "title"} Title
        %span.asteriskField *
        %input#title.form-control.required{:name => "title", :required => "true", :type => "text"}/
    .col-md-3
      %label Date Created
      .row.no-gutters
        .col-md-4
          .form-group
            %select#date_year.form-control.selectpicker{:name => "date_year", "data-width" => "90%"}
              %option 1990
        .col-md-4
          .form-group
            %select#date_month.form-control.selectpicker{:name => "date_month", "data-width" => "90%"}
              %option 12
        .col-md-4
          .form-group
            %select#date_day.form-control.selectpicker{:name => "date_day", "data-width" => "90%"}
              %option 31
    .col-md-3
      %label Embargo
      .row.no-gutters
        .col-md-4
          .form-group
            %select#embargo_year.form-control.selectpicker{:name => "embargo_year", "data-width" => "90%"}
              %option 1990
        .col-md-4
          .form-group
            %select#embargo_month.form-control.selectpicker{:name => "embargo_month", "data-width" => "90%"}
              %option 12
        .col-md-4
          .form-group
            %select#embargo_day.form-control.selectpicker{:name => "embargo_day", "data-width" => "90%"}
              %option 31
  .row
    .col-md-12
      .form-group
        %label{:for => "description"} Description
        %textarea#description.form-control{:cols => "40", :name => "description", :rows => "10"}
  .row
    .col-md-12
      .form-group
        %label{:for => "keywords"} Keywords
        %span.asteriskField *
        .controls.input-group
          %input#keywords.form-control.required{:name => "keywords[]", :required => "true", :type => "text"}/
          %span.input-group-btn
            %button.btn.btn-success.btn-add{:type => "button"}
              %span.glyphicon.glyphicon-plus
  .row
    .col-md-12
      %h4 Creators
  .row
    .col-md-6
      .form-group
        %label{:for => "creator_firstname"} First name
        %input#creator_firstname.form-control{:name => "creator[firstname]", :required => "true", :type => "text"}/
    .col-md-6
      .form-group
        %label{:for => "creator_lastname"} Last name
        .controls.input-group
          %input#creator_lastname.form-control{:name => "creator[lastname]", :required => "true", :type => "text"}/
          %span.input-group-btn
            %button.btn.btn-success.btn-add{:type => "button"}
              %span.glyphicon.glyphicon-plus
  .row
    .col-md-12
      .form-group
        %label{:for => "creator_lastname"} Organizations
        .controls.input-group
          %input#organizations.form-control{:name => "organizations[]", :required => "true", :type => "text"}/
          %span.input-group-btn
            %button.btn.btn-success.btn-add{:type => "button"}
              %span.glyphicon.glyphicon-plus
  .row
    .col-md-12
      %h4 Permissions
  .row
    .col-md-6
      .form-group
        %label{:for => "mass_permission"} Mass Permissions
        %br
        %select#mass_permission.form-control.selectpicker{:name => "mass_permission"}
          %option public
          %option private
        .select-gap
          Setting to 'public' will allow anyone accessing the site to see your item.
          %br
          Setting to 'private' will only allow groups that are explicitly chosen to see your item.
    .col-md-6
      .form-group
        %label{:for => "group_permissions"} Group Permissions
        %br
        %select#group.form-control.selectpicker{:name => "group[]"}
          %option Marketing and Communications
        .controls.input-group.select-gap
          %select#permission.form-control.selectpicker{:name => "permission[]"}
            %option read
            %option edit
          %span.input-group-btn
            %button.btn.btn-success.btn-add{:type => "button"}
              %span.glyphicon.glyphicon-plus
  .row
    .col-md-12
      .form-group.text-right
        %button.btn.btn-primary{:name => "submit", :type => "submit"} Submit

:javascript
  $(function()
  {
      $(document).on('click', '.btn-add', function(e)
      {
          e.preventDefault();

          var controlForm = $('.controls form:first'),
              currentEntry = $(this).parents('.entry:first'),
              newEntry = $(currentEntry.clone()).appendTo(controlForm);

          newEntry.find('input').val('');
          controlForm.find('.entry:not(:last) .btn-add')
              .removeClass('btn-add').addClass('btn-remove')
              .removeClass('btn-success').addClass('btn-danger')
              .html('<span class="glyphicon glyphicon-minus"></span>');
      }).on('click', '.btn-remove', function(e)
      {
  		$(this).parents('.entry:first').remove();

  		e.preventDefault();
  		return false;
  	});
  });
