%h1.page-header
  Provide Metadata

.container
  .row
    #fields.control-group
      %label.control-label{:for => "field1"} Nice Multiple Form Fields
      .controls
        %form{:autocomplete => "off", :role => "form"}
          .entry.input-group.col-xs-3
            %input.form-control{:name => "fields[]", :placeholder => "Type something", :type => "text"}/
            %span.input-group-btn
              %button.btn.btn-success.btn-add{:type => "button"}
                %span.glyphicon.glyphicon-plus
        %br/
        %small
          Press
          %span.glyphicon.glyphicon-plus.gs
          to add another form field :)
