%h1.page-header
  Provide Metadata

.container
  .row
    #fields.control-group
      %label.control-label{:for => "field1"} Nice Multiple Form Fields
      .controls
        %form{:autocomplete => "off", :role => "form"}
          .entry.input-group.col-xs-3
            %input.form-control{:name => "fields[]", :placeholder => "Type something", :type => "text"}/
            %span.input-group-btn
              %button.btn.btn-success.btn-add{:type => "button"}
                %span.glyphicon.glyphicon-plus
        %br/
        %small
          Press
          %span.glyphicon.glyphicon-plus.gs
          to add another form field :)

:javascript
  $(function()
  {
      $(document).on('click', '.btn-add', function(e)
      {
          e.preventDefault();

          var controlForm = $('.controls form:first'),
              currentEntry = $(this).parents('.entry:first'),
              newEntry = $(currentEntry.clone()).appendTo(controlForm);

          newEntry.find('input').val('');
          controlForm.find('.entry:not(:last) .btn-add')
              .removeClass('btn-add').addClass('btn-remove')
              .removeClass('btn-success').addClass('btn-danger')
              .html('<span class="glyphicon glyphicon-minus"></span>');
      }).on('click', '.btn-remove', function(e)
      {
  		$(this).parents('.entry:first').remove();

  		e.preventDefault();
  		return false;
  	});
  });
