%article.drs-item
  = render partial: 'shared/sets/drs_item/drs_item_figure'
  = render partial: 'shared/sets/drs_item/drs_item_details'
  = render partial: 'shared/sets/drs_item/drs_item_ad_details'
    