%div.btn-toolbar.alpha_list{:role=>"toolbar"}
  %div.btn-group{:role=>"group"}
    -("a".."z").each do |l|
      %button.btn.btn-clear.btn-small{:type=>"button"}
        = link_to( l.capitalize, "##{l.capitalize}")
