- if !current_user.nil? && ( current_user.can? :edit, @set )
  #addToSetLinks{style: "display: none;"}
    = render_create_collection_button( @set, "Create Collection", {class: "btn btn-mini"})
    - if @set.instance_of? NuCollection
      = render_upload_files_button(@set, "Upload Stuff", {class: "btn btn-mini"})