- if !current_user.nil? && ( current_user.can? :edit, @set )
  %li
    %a(data-pid="#{@set.pid}" href="#")
      %i.icon-plus-sign-alt
      Add
  #addToSetLinks{style: "display: none;"}
    %a.btn.btn-mini{href: "/collections/new?department_parent=#{@set.pid}"} New Collection
    -# is @set.type === "NUCollection" then render out an upload link