- if !current_user.nil? && ( current_user.can?(:edit, @set.pid) || current_user.proxy_staff? )
  %li.action
    %a#addToSet(data-pid="#{@set.pid}" href="#" data-add-to-set="1")
      %i.icon-plus-sign-alt
      Add
