#deleteCollectionModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "delecteCollectionModalLabel", role: "dialog", tabindex: "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h3#delecteCollectionModalLabel
      Confirm deleting #{@set.title}
  .modal-body
    %p 
      Are you sure you want to delete
      %i=@set.title
      and all of the items it contains? We cannot undo this action!
  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
    =link_to("Delete", nu_collection_path(@set), method: :delete, class: "btn btn-danger")
