%br
%fieldset
  - if @sentinel
    .row-fluid
      .span10
        This collection has an active sentinel. Edit this sentinel to assign core file and content object permissions for future files uploaded to this collection using the XML, spreadsheet, multipage, or IPTC loaders. To update the permissions for existing files in the collection, add those files to a Set and use the Set sentinel feature.
    .row-fluid
      .span10
        %br
        %a.btn.btn-info{href:edit_sentinel_path(@sentinel.id), title: "Edit Sentinel"}
          Edit Sentinel
  - elsif @set.class == Compilation
    .row-fluid
      .span10
        Create a sentinel to update the core file and content object permissions for all files in this Set, including files contained with Set collections.
    .row-fluid
      .span10
        %br
        %a.btn.btn-info{href:new_sentinel_path(:parent => @set.id), title: "Create Sentinel"}
          Create Sentinel
  -else
    .row-fluid
      .span10
        This collection does not have a sentinel. Create a sentinel to assign core file and content object permissions for future files uploaded to this collection using the XML, spreadsheet, multipage, or IPTC loaders. To update the permissions for existing files in the collection, add those files to a Set and use the Set sentinel feature.
    .row-fluid
      .span10
        %br
        %a.btn.btn-info{href:new_sentinel_path(:parent => @set.id), title: "Create Sentinel"}
          Create Sentinel
