- list_view_text =  render partial: "shared/icon" , locals: { class_string: "icon-list" }
- list_view_text += "List View"

- grid_view_text = render partial: "shared/icon" , locals: {class_string: "icon-th" }
- grid_view_text += "Grid View"
.btn-group{"data-toggle" => "drs-item-views-radio", "data-container" => ".drs-items" }
  = link_to( list_view_text.html_safe , view_pref_path(view_pref: 'list'), method: 'put', remote: 'true',data: {"target" => "drs-items-list"}, class: "btn btn-clear " + ( current_user.view_pref == 'list' ? 'active' : '' ))
  = link_to( grid_view_text.html_safe , view_pref_path(view_pref: 'grid'), method: 'put', remote: 'true',data: {"target" => "drs-items-grid"}, class: "btn btn-clear " + ( current_user.view_pref == 'grid' ? 'active' : '' ))

