- list_view_text =  render partial: "shared/icon" , locals: { class_string: "icon-list" }
- list_view_text += "List View"

- grid_view_text = render partial: "shared/icon" , locals: {class_string: "icon-th" }
- grid_view_text += "Grid View"
.btn-group{"data-toggle" => "drs-item-views-radio", "data-container" => ".drs-items", "data-parent" => "aside" }
  - if current_user
    = link_to( list_view_text.html_safe , sufia.profile_path(current_user, view_pref: 'list'), method: 'put', remote: 'true',data: {"target" => "drs-items-list"}, class: "btn btn-clear " + ( current_user.view_pref == 'list' ? 'active' : '' ))
    = link_to( grid_view_text.html_safe , sufia.profile_path(current_user, view_pref: 'grid'), method: 'put', remote: 'true',data: {"target" => "drs-items-grid"}, class: "btn btn-clear " + ( current_user.view_pref == 'grid' ? 'active' : '' ))
  - else
    %a{ data: {"target" => "drs-items-list"}, class: "btn btn-clear" }
      = list_view_text
    %a{ data: {"target" => "drs-items-grid"}, class: "btn btn-clear" }
      = grid_view_text

