- collection.child_files.each do |file|
  -if current_user_can_read?(file)
    %li.media
      %a{:href => nu_core_file_path(file.pid)}
        %figure.pull-left.media-object
          - if file.thumbnail
            %img{alt: (file.description ? file.description : ""), src: sufia.download_path(file.thumbnail, {:datastream_id => 'content'})}
          - else
            %i.icon-file.icon-2x.icon-block
          %figcaption
            %p
              %small.muted
                = !file.dcmi_type.nil? ? file.dcmi_type.capitalize : "File"
      .media-body
        %a{:href => nu_core_file_path(file.pid) }
          %h4.media-heading
            = file.title
        -if file.description
          %p= file.description 
        = link_to "Add to Compilation", compilations_path(file: file.pid), remote: true

    