%ul.media-list
  - if current_user_can_read?(@set)
    - if @set.instance_of?(Community)
      -# Go through and template out the communities individually.
      - @set.child_communities.each do |community| 
        - if current_user_can_read?(community)
          - path = community_path(community.identifier) 
          %li.media
            %a{:href => path }
              %figure.pull-left.media-object
                -# @todo check for community thumbnails?
                - if false #community.thumbnail
                  =commuinty.thumbnail
                - else 
                  %i.icon-group.icon-4x.icon-border
                %figcaption
                  %p
                    %small.muted
                    Community
            .media-body
              %a{:href => path }
                %h4.media-heading
                  =community.title
              - if community.description
                %p= community.description

  - if current_user_can_read?(@set)
    - @set.child_collections.each do |collection| 
      - if current_user_can_read?(collection) 
        %li.media
        = link_to(collection.title, nu_collection_path(collection.identifier))
