- if current_user_can_read?(@set)
  .drs-items.drs-items-grid
    - if @set.instance_of?(Community)
      -# Go through and template out the communities individually.
      - @set.child_communities.each do |community| 
        - if current_user_can_read?(community)
          = render partial: 'shared/drs_item/drs_item' , locals: { item: prepare_drs_item(community) }
          
    - @set.child_collections.reverse.each do |collection| 
      - if current_user_can_read?(collection) 
        = render partial: 'shared/drs_item/drs_item' , locals: { item: prepare_drs_item(collection) }
    - if @set.instance_of?(NuCollection)
      - @set.child_files.each do |file|
        = render partial: 'shared/drs_item/drs_item' , locals: { item: prepare_drs_item(file) }


  