- if current_user_can_read?(@set)
  .drs-items{class: drs_view_class() }
    - if @set.instance_of?(Community)
      -# Go through and template out the communities individually.
      - @set.child_communities.each do |community| 
        - if current_user_can_read?(community)
          = render partial: 'shared/drs_item/drs_item' , locals: { item: community }
          
    - @set.child_collections.reverse.each do |collection| 
      - if current_user_can_read?(collection) 
        = render partial: 'shared/drs_item/drs_item' , locals: { item: collection }
    - if @set.instance_of?(NuCollection)
      - @set.child_files.each do |file|
        - if current_user_can_read?(file)
          = render partial: 'shared/drs_item/drs_item' , locals: { item: file }


  