- if current_user_can_read?(@set)
  - view_pref_class = current_user.view_pref == 'list' ? 'drs-items-list' : 'drs-items-grid'
  %section.drs-items{class: view_pref_class}

    - if @set.instance_of?(Community)
      -# Go through and template out the communities individually.
      - @set.child_communities.each do |community| 
        - if current_user_can_read?(community)
          - path = community_path(community.identifier) 
          
    - @set.child_collections.reverse.each do |collection| 
      - if current_user_can_read?(collection)
        - path = nu_collection_path(collection.identifier) 
        = debug(prepare_drs_item(collection))
        =#render partial: 'shared/sets/drs_item/drs_item', locals: { collection: @item }
    - if @set.instance_of?(NuCollection)
      = render partial: 'shared/sets/show_files', locals: { collection: @set }