%div
  .row-fluid
    .span10
      .view_count
        = "Views: Calculating..."
      %br
      .download_count
        = "Downloads: Calculating..."
      %br
      .stream_count
        = "Streams: Calculating..."
