- content_for(:description) do
  - @set.description
- facet_list ||= facet_field_names
= render partial: 'shared/sets/head'
%h2.page-header Title List

%main.row( role="main" )
  %section.span12
    %table.table.table-bordered
      %tr
        %th= "Title"
      - @response.docs.each do |r|
        %tr
          %td= "#{r['title_ssi']}"
