- content_for :page_header do
  %h1.page-header Too many requests
%p
  = "We're currently seeing an excess amount of traffic to the DRS and are prioritizing traffic to users who are on campus, on the VPN or are logged in."
  = "Please <a href='#{new_user_session_path}'>sign in</a> with your myNortheastern username and password if you're able.".html_safe
  = "We apologize for any interruption to service. If you believe you are seeing this message in error, please contact <a href='mailto:Library-Repository-Team@neu.edu'>DRS Staff</a>".html_safe
