%article.drs-item(data-pid="neu:212kasdf")
  %figure
    %a(href="#")
      %img.thumbnail-s2-2x(src="http://placekitten.com/340/340" alt="Kitten Placeholder")
      %figcaption
        %p
          Image
  .drs-item-details
    %header
      %h4.drs-item-title 
        %a(href="#")
          Lorem ipsum dolor sit amet
      %h5.drs-item-creator Dr. Suss
      %dl
        %dt.drs-item-deposit-date-label
          Date Added
        %dd.drs-item-deposit-date
          %time(date-time="1996-12-19T16:39:57-08:00")
            August 21, 2001
        %dt.drs-item-subject-label
          Subject(s)
        %dd.drs-item-subject
          %a(href="#")
            Cats
        %dd.drs-item-subject
          %a(href="#")
            Kittens
        %dd.drs-item-subject
          %a(href="#")
            Cute
        %dt.drs-item-abstract-label
          %a(data-target="drs-item-abstract" href="#")
            Abstract
        %dd.drs-item-abstract.collapse
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    %menu.btn-group(type="toolbar")
      %button
        Add to shopping car
      %button
        Add to compilation
      %button
        Download 