%span{"data-alt" => "kitten", "data-picture" => ""}
  %span.thumbnail-s1{"data-src" => "http://placekitten.com/85/85"}
  %span.thumbnail-s1-2x{"data-src" => "http://placekitten.com/170/170", "data-media" => "(min-device-pixel-ratio: 2.0)"}


  %span.thumbnail-s2{"data-src" => "http://placekitten.com/170/170", "data-media" => "(min-width: 600px)"}
  %span.thumbnail-s2-2x{"data-src" => "http://placekitten.com/340/340", "data-media" => "(min-width: 600px) and (min-device-pixel-ratio: 2.0)"}


  %span.thumbnail-s4{"data-src" => "http://placekitten.com/340/270", "data-media" => "(min-width: 1200px)"}
  %span.thumbnail-s4-2x{"data-src" => "http://placekitten.com/680/540", "data-media" => "(min-width: 1200px) and (min-device-pixel-ratio: 2.0)"}
  /Fallback content for non-JS browsers. Same img src as the initial, unqualified source element.
  %noscript
    %img{alt: "Kittens", src: "http://placekitten.com/85/85"}/





/### `.thumbnail-s10`
/![kitten](http://placekitten.com/970/680)

/### `.thumbnail-s10-2x`
/![kitten](http://placekitten.com/1940/1208)