.btn-group{"data-toggle" => "drs-item-views-radio", "data-container" => "#drsDummyItems"}
  %button.btn.btn-primary{type: "button", "data-target" => "drs-items-grid" , class: view_mode == "grid"  ? 'active' : '' } Grid
  %button.btn.btn-primary{type: "button", "data-target" => "drs-items-list" , class: view_mode == "list"  ? 'active' : ''  } List


%ul.nav.nav-list
  %li.nav-header List header
  %ul.nav.nav-list(data-toggle="buttons-radio")
    %li.active
      %a{href: "#" }()
        Grid
    %li
      %a{href: "#"} Library
  %li.active
    %a{href: "#"} Home
  %li
    %a{href: "#"} Library
  %li
    %a{href: "#"} Applications
  %li.nav-header Another list header
  %li
    %a{href: "#"} Profile
  %li
    %a{href: "#"} Settings
  %li.divider
  %li
    %a{href: "#"} Help
  