%ul.nav.nav-list
  %li.nav-header List header
  %li.active
    %a{href: "#"} Home
  %li
    %a{href: "#"} Library
  %li
    %a{href: "#"} Applications
  %li.nav-header Another list header
  %li
    %a{href: "#"} Profile
  %li
    %a{href: "#"} Settings
  %li.divider
  %li
    %a{href: "#"} Help
