.btn-group{"data-toggle" => "buttons-radio"}
  %button.btn.btn-primary{type: "button"} Left
  %button.btn.btn-primary{type: "button"} Middle
  %button.btn.btn-primary{type: "button"} Right


%ul.nav.nav-list
  %li.nav-header List header
  %ul.nav.nav-list(data-toggle="buttons-radio")
    %li.active
      %a{href: "#"}()
        Grid
    %li
      %a{href: "#"} Library
  %li.active
    %a{href: "#"} Home
  %li
    %a{href: "#"} Library
  %li
    %a{href: "#"} Applications
  %li.nav-header Another list header
  %li
    %a{href: "#"} Profile
  %li
    %a{href: "#"} Settings
  %li.divider
  %li
    %a{href: "#"} Help
  