The Northeastern University Libraries’ Digital Repository Service (hereafter called DRS) is a system for collecting, distributing, managing, publishing, and preserving digital (electronic) information created by NU faculty, students, and staff.
%br
%br
The DRS is a collaboration among NU librarians, archivists, technology professionals, faculty, and administrators. It includes the intellectual output of NU faculty and students, including both research and teaching/learning materials. It also contains materials that document the evolution of the University’s programs, activities, and policies.
%br
%br
It is important that all stakeholders understand and agree to the policies, guidelines, and procedures required to make the DRS a success. The terms of participation and policy statements contained in this document may be developed and modified over time.
%br
%br
The digital objects submitted under these terms will be deposited in the DRS for archiving and distribution for non-commercial purposes, including teaching, research and private study. These terms do not request or require transfer of copyright to DRS.
