%table.table.table-bordered.table-hover.dashboard
  %caption.accessible-hidden
    Listing of files you have deposited in #{t('sufia.product_name')}
  - unless params[:display_type] == 'list'
    %thead
      %tr
        %th.sm= render :partial => 'batch_edits/check_all'
        %th &nbsp;
        %th.center Title
        %th.sorts-dash
          %i#desc_metadata__date_uploaded_dt{:class => params[:sort]== "desc_metadata__date_uploaded_dt desc" ? 'icon-caret-down' : params[:sort]== "desc_metadata__date_uploaded_dt asc" ? 'icon-caret-up' : ''}>
          Date Uploaded
        %th Visibility
        %th.center Action
  %tbody
    - docs.each_with_index do |document,counter|
      - if document.route_key == "genericfile"
        = render :partial => 'dashboard/_index_partials/list_files', :locals => {:document => document, :counter => counter}
