%tr
  %td
    .large= community.title.html_safe
  %td
    - if community.pid != 'neu:1'
      = link_to("Edit", edit_admin_community_path(community),
    		class: "btn btn-small btn-warning")
  %td
    - if community.pid != 'neu:1'
      = link_to("Destroy", admin_community_path(community),
              method: :delete,
              confirm: "This action is irreversible",
              class: "btn btn-small btn-danger")
