-community.employees.each do |employee| 
  .row 
    .span4
      .large= "#{employee.pretty_employee_name} (#{employee.nuid})"
    .span4
      =link_to("Remove", 
                admin_employee_path(employee, remove: community.pid), 
                remote: true, 
                method: 'put',
                class: "btn btn-small btn-danger")