.row 
  .span4
    %h4= employee.nuid
  .span4
    =link_to("Remove user from this community", 
              admin_employee_path(employee, remove: community.pid), 
              remote: true, 
              method: 'put')