%h2.page-header= "Edit #{@community.title}" 

%ul.nav.nav-tabs

.tab-content
  #local.tab-pane.active
    = render partial: 'data_form'


    %h3.page-header Employees

    .employees
      - @community.employees.each do |e| 
        = render partial: 'admin_community_employee', locals: { employee: e, community: @community }