%h2.page-header All Communities

.row
  .span4
    =link_to("Create new community", new_admin_community_path)

- @communities.each do |community|
  = render partial: "admin_community", locals: { community: community }
