<% # main container for facets/limits menu -%>
<% facet_list ||= facet_field_names %>
<div>
  <h2>Browse By</h2>
  <ul class="nav nav-list slide-list" id="facet_group">
   <%= render_facet_partials(facet_list) %>
  </ul>
</div>
