<li class="dropdown">
  <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Limit your search<b class="caret"></b></a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
    <li>
      <%= yield %>
    </li>
  </ul>
</li>
