<!-- <div class="facet_limit blacklight-<%= facet_field.field.parameterize %>"> -->
<div>
  <!-- <h5><%= facet_field.label -%> <i class="icon-chevron"></i></h5> -->
  <ul class="nav" role="navigation">
    <li class="dropdown">
      <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
        <%=facet_field.label%>
        <b class="caret"></b>
      </a>
      <%= yield %>
    </li>
  </ul>
</div>
