.hero-unit
  %h1
    #{t('drs.product_name.short')}
    %small
      #{t('drs.product_name.full')}
  %p
    = t ('drs.homepage.description.short')
    %button.btn.btn-link{data: { toggle: "collapse", target: "#homePageLongDescription"} }
      =raw "&hellip;"
      %span.sr-only
        Expand description text toggle
  %p.collapse#homePageLongDescription
    = t('drs.homepage.description.long')
  %a.btn.btn-link.pull-right{:href => "/terms/"} Terms of Use
%h2 Featured Content
.row-fluid    
  .span3
    %h3
      Research
      %i.icon-beaker
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, repellat quia fuga iure modi nisi quasi aspernatur aliquam officia unde cupiditate doloremque.
    %a.btn.btn-primary.btn-block(href=research_path)
      Explore Research Publications
  .span3
    %h3
      Presentations
      %i.icon-facetime-video
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, repellat quia fuga iure modi nisi quasi aspernatur aliquam officia unde cupiditate doloremque.
    %a.btn.btn-primary.btn-block(href=presentations_path)
      Explore Presenations
  .span3
    %h3
      Learning Objects
      %i.icon-book
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, repellat quia fuga iure modi nisi quasi aspernatur aliquam officia unde cupiditate doloremque.
    %a.btn.btn-primary.btn-block(href=learning_objects_path)
      Explore Learning Objects
  .span3
    %h3
      Datasets
      %i.icon-table
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, repellat quia fuga iure modi nisi quasi aspernatur aliquam officia unde cupiditate doloremque.
    %a.btn.btn-primary.btn-block(href=datasets_path)
      Explore Datasets