<% page_params = paginate_params(@response) %>

<div class="pager">
  <% if page_params.num_pages > 1 %>
    <%= paginate_rsolr_response(@response)%>
  <% end %>
  <span class="pull-left">
    Displaying <%= page_params.start %> to <%=page_params.end %> of <%=page_params.total_count%>
  </span>
  <div class="clearfix"></div>
</div><!-- /pager -->
