<% page_params = paginate_params(@response) %>
<% extra_count = 0 %>

<% (!@smart_collections.nil? && @smart_collections.length > 0 && page_params.current_page == 1 && render_constraints(params) == "") ? extra_count = @smart_collections.length : extra_count = 0 %>

<% if page_params.total_count > 0 %>
  <div class="pager">
    <% if page_params.num_pages > 1 %>
      <%= paginate_rsolr_response(@response)%>
    <% end %>
    <span class="pull-left">
      Displaying <%= page_params.start %> to <%=page_params.end + extra_count%> of <%=page_params.total_count + extra_count%>
    </span>
    <div class="clearfix"></div>
  </div><!-- /pager -->
<% end %>
