<%= form_tag('/', method: :get, class: 'search-query-form') do -%>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search..." id="q" name="q" value="<%= params[:q] %>">
    <button class="btn btn-primary" type="submit">
      <i class="fa-solid fa-magnifying-glass"></i>
      Search
    </button>
  </div>
<% end -%>
