- q = params[:controller] == 'dashboard' ? nil : params[:q]
= form_tag catalog_index_path, :method => :get, :id => "search-form-header" , :class => "navbar-form pull-right" do
  = search_as_hidden_fields(:omit_keys => [:q, :search_field, :qt, :page]).html_safe
  %label.hide-text= t('sufia.search.form.q.label')
  = text_field_tag :q, q, :class => "q span3", :id => "search-field-header", :placeholder => t('sufia.search.form.q.placeholder')
  %button#search-submit-header.btn.btn-info{:type => "submit"}
    %i.icon-search
    Go
