- content_for(:extra_head_content) do
  ="<link rel=\"canonical\" href=\"#{core_file_url(@core_file, :only_path => false)}\" />".html_safe
=render partial:'/page_files/show', locals:{core_file:@core_file, page:@page}
