-if breadcrumbs.present?
  %nav{"aria-label" => "breadcrumb"}
    %ol.breadcrumb
      - breadcrumbs.each do |breadcrumb|
        - if breadcrumb.link?
          %li.breadcrumb-item
            = link_to breadcrumb.label, breadcrumb.url
        - else
          %li.breadcrumb-item.active{"aria-current" => "page"}
            = breadcrumb.label
      %li.breadcrumb-item
        .dropdown.breadcrumb-add
          %a.text-decoration-none{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :type => "button"}
            %i.fa-regular.fa-square-plus
            .ms-1.d-inline
              Add
          %ul.dropdown-menu{"aria-labelledby" => "dropdownMenuButton1"}
            %li
              %a.dropdown-item{:href => "#"} Action
            %li
              %a.dropdown-item{:href => "#"} Another action
            %li
              %a.dropdown-item{:href => "#"} Something else here
