// Northeastern Brand Stylesheets
// --------------------------------------------------
//// Colors
//
// Web Color Pallet
//

.red{
  color: $nu-red;
}
.red-bg{
  background-color: $nu-red;
}




.darkest-gray{
  color: $darkest-gray;
}

.darkest-gray-bg{
  background-color: $darkest-gray;
}


.light-gray{
  color: $light-gray;
}
.light-gray-bg{
  background-color: $light-gray;
}

.midnight-blue{
  color: $midnight-blue;
}
.midnight-blue-bg{
  background-color: $midnight-blue;
}
.turquoise{
  color: $turquoise;
}
.turquoise-bg{
  background-color: $turquoise;
}
