.btn-clear{
  @include drs-button;
}

.btn-add{
  float: right;
}

.navbar .btn-navbar-collapse{

}

.results-view a.btn.btn-clear {
  padding: 8px 27px;
}

.popover-content a.btn.btn-mini {
  color: #333;
  :hover{
    color: #333;
  }
}
