.pager {
  margin: 0 0 10px 0;
  .pagination {
    margin: 0;
    text-align: left;
    float: right;
  }
}

.pager .prev>a,
.pager .prev>span{
  padding-left: 15px;
}

.pager .last>a,
.pager .last>span{
  padding-left: 15px;
}

.pager .next>a,
.pager .next>span{
  float: none;
}

div.pagination {
  .previous_page {
    &.disabled {
      display:none;
    }
  }
  .next_page {
    &.disabled {
      display:none;
    }
  }
  a {
    padding:5px;
  }
  em.current {
    text-decoration:none;
    font-style:normal;
    padding:5px;
  }
}
