.drs-item{
  position: relative;
  @include clearfix();
  display: block;
  padding: 8px;
  border-color: $grayLight;
  border-style: solid;
  border-width: 1px;
  @include border-radius($baseBorderRadius);
  @include transition(all .2s ease-in-out);

  > a:hover,
  > a:focus{
    text-decoration: none;
  }
  // Labels the item
  figcaption{
    @include scut-relative( n n 2em n);
    margin-bottom: - 2em;
  }
  figure{
    text-align: center;
    margin: 0 0 0.5em 0;

    [data-picture]{
      display: inline-block;
    }
    img, [class^="icon-"]{
      padding: 4px;
      background-color: #fff;
      border: 1px solid #ccc;
      border: 1px solid rgba(0,0,0,.2);
      text-align: center;
    }
    [class^="icon-"]{
      display: block;
      text-align: center;
      width: 85px;
      height: 85px;
      font-size: 40px;
      line-height: 2;
      @media (min-width: 900px) {
        width: 170px;
        height: 170px;
        font-size: 80px;
      }
    }
  }

  menu{
    padding-left: 0;
  }
  dl{
    margin: 2px 0;
  }


}


.drs-items{

  //significant layout differences here should be able to toggle these all with a single class
  &.drs-items-list{
    @extend .media-list;
    .drs-item{
      @extend .media;
      @include border-radius(0);
      margin-top: 0;
      padding-bottom: 8px;
      padding-top: 8px;
      border-top-style: none;
      &:first-child{
        @include border-top-radius($baseBorderRadius);
        border-top-style: solid;
      }
      &:last-child{
        @include border-bottom-radius($baseBorderRadius);
      }

      > a{
        float: left;
        margin-right: 15px;

        // Reset float and spacing to stack
        @media (max-width: 480px){
          float: none;
          display: block;
          margin-bottom: 10px;
          figcaption{
            text-align: left;
          }
        }

      }

    }

    .drs-item-details{
      @extend .media-body;
      margin-bottom: 2.5em;

    }
    .drs-item-title{
      @extend .media-heading;
    }
    .drs-item-subject{
      float: left;
      margin-left: 0!important;
      padding: $paddingMini;

    }
    .drs-item-abstract-label{
      clear: left;

    }

    .drs-item-abstract{
      @include clearfix();
      .ellipsis{
        max-width: 95%;
        float: left;
      }
      .ellipsis-toggle{
        float: left;
        clear: right;
      }
    }
    menu{
      position: absolute;
      bottom: 0;
      right: 8px;
    }

  }
  // DRS Items in Grid view styles
  &.drs-items-grid{
    @extend .row;

    .drs-item{
      @extend .span3;
      @extend [class*="span"];
      @extend .height3;
      @extend .scroll-x;
      @extend .hidden-y;
      text-align: center;

      @include focus-states{
        border-color: $linkColor;
        @include box-shadow(0 1px 4px rgba(0,105,214,.25));
      }
      > a{

        figure{
          display: block;
          margin: 0 auto 5px auto;
        }
      }

    }
    .drs-item-add-details dl{
      @include sr-only;
      margin: 0 0 0 0;
      padding: 0 0 0 0;
    }
    menu{
      margin-bottom: 0;
      overflow-x: scroll;
      max-height: 28px;
    }

  }


}

.drs-item-creator{
  display: inline-block;
}


.drs-items-grid{
  @media (max-width: $breakpoint-l){
    font-size: 0.9em;
  }

  .drs-item-title{
    margin-top: 0;
  }
  .drs-item-creators{
    @media (max-width: $breakpoint-xl){
      @include sr-only();
    }

  }
}

.drs-sidebar{
  margin-bottom: 1em;
  &.span12{
    > div{
      display: inline-block;
    }
  }
}
