.thumbnail-btn{
  @include focus-states{
    text-decoration: none;

  }
  h4{
    color: inherit;
  }
  .icon-stack{
    display: block;
    width: 2em;
    height: 2em;
    margin: 0.125em auto;
    font-size: 1.5em;
    i:last-child{
      margin-top: 2px;
      font-size: 0.8em;
    }
  }
}


.icon-block-1s{
  &:before{
    display: block;
    width: 78px;
    height: 78px;
    font-size: 78px;
    margin: 0.125em auto;
  }
}

.all-compilations.thumbnails{
  h5 {
    font-weight:normal;
  }
  .span2 .thumbnail{
    min-height: 170px;
    padding-top: 40px;
  }
  .thumbnail:hover, .thumbnail:focus {
    border-color: $linkColor;
    @include box-shadow(0 1px 4px rgba(0,105,214,.25));
    cursor: pointer;
  }
}

.thumbnail a{
  @include focus-states{
    text-decoration: none;
  }
}


[class*="thumbnail-"] img{
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.thumbnail-s1 img{
  width: 85px;
  height: 85px;
}

.thumbnail-s2 img,
.thumbnail-s3 img{
  width: 170px;
  height: 170px;
  @media (max-width: 1199px) and (min-width: 980px){
    width: 135px;
    height: 135px;
  }
}

.thumbnail-s4 img {
  max-width:460px;
}

.thumbnail-s5 img{
  max-width: 500px;
}

.drs-items-list .drs-item [class*="thumbnail-"] img{
  width: 85px;
  height: 85px;
}

.drs-items-list .drs-item figure [class*="icon-"]{
  @media (min-width: 0){
    width: 85px;
    height: 85px;
    font-size: 35px;
  }
}

.drs-items-grid .drs-item figure [class*="icon-"]{
  @media (min-width: 980px){
    width: 135px;
    height: 135px;
    font-size: 60px;
  }
}

.drs-items-grid .drs-item figure [class*="icon-"]{
  @media (min-width: 1201px){
    width: 170px;
    height: 170px;
    font-size: 80px;
  }
}
