.pager {
  margin: 0 0 10px 0;
  .pagination {
    margin: 0;
    text-align: left;
    float: right;
  }
  li > a, li > span{
    background-color: #fff;
    border: 1px solid #ddd;
    color:$brand-primary;
  }
  li > a:hover, li > a:focus{
    background-color: #f5f5f5;
  }
  .disabled{
    > a:hover, > a:focus, > span, > a{
      color: $grayLight;
      background-color: #fff;
      cursor: default;
    }
  }
}

.pager .prev>a,
.pager .prev>span{
  padding-left: 15px;
}

.pager .last>a,
.pager .last>span{
  padding-left: 15px;
}

.pager .next>a,
.pager .next>span,
.pager .previous>a,
.pager .previous>span{
  float: none;
}

div.pagination {
  .previous_page {
    &.disabled {
      display:none;
    }
  }
  .next_page {
    &.disabled {
      display:none;
    }
  }
  a {
    padding:5px;
  }
  em.current {
    text-decoration:none;
    font-style:normal;
    padding:5px;
  }
}
