.btn-clear{
  @include drs-button;
}

.btn{
  .caret {
    border-top: 4px solid;
  }
}

.selectpicker{
  padding: 7px 6px;
  color: #333;
  background-color: #fff;
  border: 2px solid;
  border-color: #ccc;
}

.btn-group{
  .dropdown-toggle{
    outline: none;
  }
}

.btn-add{
  float: right;
}

.navbar .btn-navbar-collapse{

}

.results-view a.btn.btn-clear {
  padding: 8px 27px;
}

.popover-content a.btn.btn-mini {
  color: #333;
  :hover{
    color: #333;
  }
}

.btn-block {
  margin-top: 0
}

.featured-content{
  [class^="icon-"]:before,
  [class*=" icon-"]:before {
    padding-right: 10px;
  }
}

.featured-content .btn-block {
  margin-top: 5px;
}

.drs-item-add-details .btn-toolbar .btn-group{
  .btn{
    outline: 0;
  }
  .dropdown-menu{
    z-index: 1000;
    min-width: 110px;
    padding: 5px;
    .btn-group{
      display: block;
    }
  }
  a[aria-role*='checkbox']{
    min-width: 45px;
  }

  a[id*='viewItemDownloads-']{
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;
    // margin-right: 5px;
    .icon-caret-down{
      padding-left: 5px;
    }
  }
}
.drs-sidebar .btn-group {
  .btn {
    &:first-child {
    @include border-top-right-radius(0);
    }
    &:last-child {
    @include border-bottom-left-radius(0);
    }
  }
  @media(min-width:$breakpoint-m) and (max-width:$breakpoint-xl) {
    white-space: normal;
    .btn {
      width:100%;
      &:first-child {
        @include border-top-right-radius($baseBorderRadius);
        @include border-bottom-left-radius(0);
      }
      &:last-child {
        @include border-top-right-radius(0);
        @include border-bottom-left-radius($baseBorderRadius);
        margin-left:0px;
      }
    }
  }
}

.btn-compilation {
  margin: 5px 0px;
}
.nu-masthead .btn.disabled {
  opacity:100;
}

a[data-toggle="ellipsis"]:hover, a[data-toggle="ellipsis"]:focus{
  text-decoration:none;
}


.alpha_list{
  padding-bottom:12px;
}
.alpha_list .btn-group{
  white-space: normal;
  .btn-clear.disabled, .btn-clear.disabled:hover, .btn-clear.disabled:focus{
    color:#c8cdd0;
    background:#FFF;
    border-color:#c8cdd0;
    a{
      color:#c8cdd0;
      cursor:default;
    }
  }
  .btn-clear:hover, .btn-clear:focus, .btn-clear:active, .btn-clear.active{
    a{
      color:#FFF;
    }
  }
}
