.input-append{
  .add-on{
    padding: 7px 6px;
  }
  .btn-group > .btn:only-of-type{
    @include border-radius($inputBorderRadius 0 0 $inputBorderRadius);
  }
}

.required-label{
  &:after{
    content: "*";
    color: $brand-danger;
    margin-left: 2px;
    font-size: $fontSizeMini;
  }
}

.modal form.new_compilation{
  margin-bottom: 0;
}

.modal-compilation {
  width:400px;
  margin-left:-200px;
}

.modal-body {
  overflow-y: auto !important;
  max-height: calc(100vh - 230px) !important;
}

fieldset{
  margin-bottom: 10px;
}

legend{
  margin-bottom: 11px;
}

.span3{
  .image-checkbox{
    vertical-align: baseline;
    margin-left: 10px;
  }
}

.ui-autocomplete{
  @extend .dropdown-menu;
  background:#fff;
}

.ui-state-focus{
  background-color: $light-gray;
}

.span3 .slider{
  display: block;
}

.ace_editor{
  border: 1px solid $clouds;
}

form.multi-compilation{
  margin-bottom:0;
}

.ui-helper-hidden-accessible {
  @include sr-only();
}
