.drs-item-full{
  border-style: none;
  padding: 0 0 0 0;
  @include focus-states(){
    cursor: auto;
  }
  figure{

  }
}

#page-images{
  position: relative;
  min-height: 200px;
}

#single_page{
  text-align:center;
}
