.breadcrumb{
  .active{
    color: $textColor;
    font-weight: 700;
  }
  .action{
    > a{
      color: $grayLight;
      &:hover,
      &:focus{
        text-decoration: none;
        color: $blue;
      }
    }
    &.active > a{
      color: $blue;
    }
  }
}