.btn-clear{
  @include drs-button;
}

.popover-content a.btn.btn-mini.btn-white{
  @include drs-button;
  background-color: $white;
  color: #3498db;
  &:hover, &:focus, &:active, &.active, &.disabled, &[disabled] {
    background-color: $linkColor;
  }
}

.drs-item-add-details .btn-toolbar .popover{
  background-color: #ecf0f1;
}

.drs-item-add-details .btn-toolbar .popover .arrow:after{
  border-bottom-color: #ecf0f1;
}

.btn-add{
  float: right;
}

.navbar .btn-navbar-collapse{

}

.results-view a.btn.btn-clear {
  padding: 8px 27px;
}

.popover-content a.btn.btn-mini {
  color: #333;
  :hover{
    color: #333;
  }
}

.btn-block {
  margin-top: 0
}

.featured-content .btn-block {
  margin-top: 5px;
}
