.drs-item-full{
  border-style: none;
  padding: 0 0 0 0;
  @include focus-states(){
    cursor: auto;
  }
  figure{

  }
}

#associated_files{
  position: relative;
  min-height: 200px;
}

#single_page{
  text-align:center;
}

.page_file{
  .span12{
    margin-left:0;
  }
  .pager .pull-left{
    display:none;
  }
  .pager .pagination{
    float:none;
    width:100%;
    text-align:center;
  }
}

.handle{
  margin-top: -15px;
  padding-bottom: 15px;
}
