.alert{
  button.close{
    display: block;
  }
  .close{
    @include text-shadow( 0 1px  0 darken( $clouds, 10% ));
    color: $brand-info;

    @include focus-states{
      color: darken( $brand-info, 10% );
    }
  }
}

