a{
  @include single-transition(color, 0.25s);
}

h1,
h2,
h3,
h4,
h5,
h6{
  a{
    color: $headingsColor;
    text-decoration: underline;
    &:hover,
    &:focus{
      color: lighten($headingsColor, 10%)
    }
  }
}