.nu-lockup{
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  background-image: image-url('nu-lib-lockup/Library_Wordmark_K_2.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  height: 40px;
  display: block;
  max-width: 100%;
}
