// TYPOGRAPHY
// --------------------------------------------------


h1 {
  font-size: 48px;
  font-weight: 200;
}

h2 {
  font-size: 36px;
  font-weight: 200;
}

h3 {
  font-size: 28px;
  font-weight: 200;
}

h4 {
  font-size: 24px;
  font-weight: 500;
}

h5 {
  font-size: 16px;
  font-weight: 500;
}

h6 {
  font-size: 13px;
  font-weight: 500;
  text-transform: none;
}

p {
  margin-bottom: 1em;
}



h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-weight: 100;
  color: $blueDark;
  letter-spacing: 3px;
  font-style: oblique;
}