!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h3= "IPTC Alert"
    %p
      = "Creator name could not be parsed. Please check the formatting of the photographer name in the IPTC creator field - #{@pid}"
