= render 'admin/breadcrumb_header'

.admin-registry.my-3
  %header.admin-registry__head
    %span.admin-registry__title
      %i.fa-solid.fa-pen{'aria-hidden' => 'true'}
      Edit group name
      %span.admin-registry-table__id.ms-2= @group.raw
    %span.admin-registry__subtitle
      %i.fa-solid.fa-lock{'aria-hidden' => 'true'}
      Admin-only
  .admin-registry__body
    = render 'form'
