@import "variables";

#header-navbar .navbar-brand {
  overflow: inherit;
  text-indent: inherit;
}

.handle {
  padding-bottom: 15px;
}

.select-gap {
  margin-top: 5px;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

// .search_q {
//   height: auto;
// }

.form-control {
  height: auto;
}

#documents .document {
  margin-bottom: 6px;
  padding-bottom: 6px;
}

.documentHeader figure {
  border: 1px solid #e3e3e3;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
}

.documentHeader figure .fa {
  font-size: 35px;
  padding: 10px;
  color: $brand-primary;
}

.documentHeader figcaption .label {
  background-color: darken(#f5f5f5, 10%);
  font-size: 12px;
  padding: 3px;
}

.documentHeader .index_title a:first-of-type {
  font-size: 1.3em;
}

.btn-clear {
  border: 1px solid $brand-primary;
}

.btn-clear:hover, .btn-clear:focus {
  background: $brand-primary;
  color: #fff;
}

.btn-mini {
  @extend .btn-xs !optional;
  border-radius: 6px;
}
