//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              #7b8a8b !default;   // #333
$gray:                   #95a5a6 !default; // #555
$gray-light:             #b4bcc2 !default;   // #999
$gray-lighter:           #ecf0f1 !default; // #eee

$brand-primary:         #3498db !default;
$brand-success:         #2ecc71 !default;
$brand-info:            #2c3e50 !default;
$brand-warning:         #f1c40f !default;
$brand-danger:          #e74c3c !default;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #fff !default;
//** Global text color on `<body>`.
$text-color:            $brand-info !default;

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      $link-color !default;
//** Link hover decoration.
$link-hover-decoration: underline !default;

.navbar-header {
  a {
    padding-top: 19.5px;
    padding-bottom: 19.5px;
    float: left;
  }
}
