@import 'colors';

body {
  background-color: $gray-100;
}

a:not(.btn) {
  color: $link-blue;

  &:link {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

.navbar-search .search-query-form {
  width: 100%;
}

.catalog_startOverLink {
  display: none;
}
