@import 'colors';
@import 'bootstrap';

body {
  background-color: $gray-100;
  height:100vh;
  margin:0;
  display:flex;
  flex-direction:column;
}

.well {
  background-color: #ecf0f1;
}

a:not(.btn, .dropdown-item) {
  color: $link-blue;

  &:link {
    text-decoration: none;
  }
}

.navbar-search {
  padding-bottom: 0;
}

.catalog_startOverLink {
  display: none;
}

.sort-pagination {
  padding-top: 8px;
}

.footer {
  background-color: #385775;
  color: $light;

  .logo {
    width: 175px;
  }

  a {
    color: $light;
  }

  li.list-inline-item:before {
    content: "\20\00b7";
    margin-right: 8px;
  }
  li.list-inline-item:first-child:before{
    content: "";
    margin-right: auto;
  }
  .nu-social{
    li{
      float: right;
      display: block;
      a {
        -webkit-transition: opacity 0.5s;
        -moz-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;
        transition: opacity 0.5s;
        padding: 0.25em;
        font-size: 1.3em;
        opacity: 0.5;
      }
      a:hover {
        -webkit-transition: opacity 0.5s;
        -moz-transition: opacity 0.5s;
        -o-transition: opacity 0.5s;
        transition: opacity 0.5s;
        text-decoration: none;
        opacity: 1;
      }
    }
    li:after {
      content: "";
    }
  }
}

.search-widgets div:last-child {
  margin-right: 0 !important;
}

.breadcrumb-add {
  display: inline;
}

.dropdown-menu.show{
  background-color: $light;

  a:hover {
    &:not(.active) {
      background-color: $light;
      color: $cyan;
    }
  }

  a:active {
    color: $dark;
  }
}

.dropdown-item.active, .dropdown-item:active {
  background-color: $light;
  color: $dark;
  font-weight: bold;
}

.document-counter {
  display: none;
}

#editor {
  height: 952px;
}

.btn-close {
  color: transparent !important;
  @extend .float-end;
}

ol.breadcrumb {
  background-color: #f0f0f0;
  @extend .rounded-3;
  @extend .p-3;
}

.breadcrumb a {
  color: $gray-800;
}

.breadcrumb-item.active {
  font-weight: 600;
  color: $gray-800;
}

.nav-tabs {
  margin: 10px 0px 10px 0px;
}
