-if item.instance_of?( SolrDocument )
  -# Shouldn't need to have such different ways of accessing the different attributes in the view code

  %article.drs-item{data: { href: polymorphic_path( item ) , "drsitem" => item.id  }}
    = render partial: 'shared/drs_item/drs_item_figure', locals: {item: item}
    
    -if false #debug otherwise the view won't render quite yet.
      
      = render partial: 'shared/drs_item/drs_item_details', locals: {item: item}
-else
  %article.drs-item{data: { href: polymorphic_path( item ) ,  "drsitem" => item.pid  }}
    = render partial: 'shared/drs_item/drs_item_figure', locals: {item: item}
    = render partial: 'shared/drs_item/drs_item_details', locals: {item: item}