.drs-item-details
  %header
    %h4.drs-item-title
      %a{href: polymorphic_path(item)}
        / = item.title or "Default title"
        = Kramdown::Document.new(item.title).to_html.html_safe or "Default title"
    -if defined? cart_remove_link
      = cart_remove_link
  = render partial: 'shared/drs_item/drs_item_ad_details', locals: {item: item}
