%figure
  - if item[:thumbnails]
    -if item[:thumbnails].has_key?('thumbnail_4') #render out the full picture instead of the dinky one
      =render partial: 'shared/thumbnails/dynamic_picture', locals: { thumbs: item[:thumbnails] }
    -else
      =render partial: 'shared/thumbnails/thumbnail_picture', locals: { thumbs: item[:thumbnails] }
    
  - else
    - if item[:type] == "Collection"
      %i.icon-folder-open
    - if item[:type] == "Community"
      %i.icon-group
    - if item[:type] == "file"
      %i.icon-file
  %figcaption
    = item[:type]