%table.table.table-striped
  %th Loader
  %th Time of Upload
  %th Number of Files
  %th
  - @loads = @loads.sort_by{|l| l.created_at}.reverse
  - @loads.each do |loader|
    %tr
      %td
        = loader.loader_name.capitalize
      %td
        = loader.created_at.strftime("%m-%d-%Y %T")
      %td
        = loader.number_of_files
      %td
        = link_to("View Report", loaders_report_path(loader.id),
        class: "btn btn-small btn-success")
