%div.footer-drs.container(role="contentinfo")
  .row-fluid
    .span12
      %ul
        %li
          %a{:href => "http://dsg.neu.edu/resources/drs"} About the DRS
        %li
          %a{:href => "mailto:Library-Repository-Team@neu.edu"} Contact Us
        %li
          %a{:href => "https://repository.library.northeastern.edu/terms"} Terms of Service
        %li
          %a{:href => "https://repository.library.northeastern.edu/iris"} IRis and the DRS
        %li
          %a{:href => "http://dsg.neu.edu/wiki/DRS_User_Guide"} Help
        %li
          %a{:href => "http://library.northeastern.edu/get-help/tech-support/report-a-problem"} Report a Problem
