%footer.footer-drs(role="contentinfo")
  .container
    .row-fluid
      .span3
        %a{class: "brand drs", href: "/"}
          =render partial: "shared/icon", locals: {class_string: t('drs.product_icon') }
          DRS
          %small
            Digital Repository Service
          %span.sr-only
            Homepage
      .span9
        %ul
          %li
            %a{:href => "https://subjectguides.lib.neu.edu/drs"} About the DRS
          %li
            %a{:href => "mailto:Library-Repository-Team@neu.edu"} Contact Us
          %li
            %a{:href => "https://repository.library.northeastern.edu/terms"} Terms of Service
          %li
            %a{:href => "https://library.northeastern.edu/administration/privacy-policy/"} Privacy
          %li
            %a{:href => "https://repository.library.northeastern.edu/iris"} IRis and the DRS
          %li
            %a{:href => "http://hdl.handle.net/2047/D20213468"} Help
          %li
            %a{:href => "https://northeastern.libanswers.com/form.php?queue_id=2155"} Report a Problem
