- flash_types_to_classes = { :notice => 'alert-success', :error => 'alert-error', :info => 'alert-primary' }
.container
  - [:error, :alert, :notice, :info].each do |type|
    - if flash[type]
      %div{:class => "alert #{flash_types_to_classes[type] rescue ''} ui-corner-all #{type.to_s}"}
        %a.close{"data-dismiss" => "alert", :href => "#"} ×
        - if flash[type].respond_to? :join
          = flash[type].join("<br/>").html_safe
        - else
          = flash[type].html_safe
      - flash.delete(type)
