<footer class="container">
  <div class="row">
      <div class="span6">
        <p class="fright"><%= Sufia::VERSION %></p>
        <p>A service of Project Hydra.</p>
      </div><!-- /.span6 -->
      <div class="span6">
        <p><strong>Copyright &copy; 2013 Project Hydra</strong> Licensed under the Apache License, Version 2.0</p>
        <ul class="nav">
          <li><a href="">Northeastern</a></li>
          <li><a href="">Two</a></li>
          <li><a href="">Three</a></li>
          <li><a href="">Four</a></li>
        </ul>
      </div><!-- /.span6 -->
  </div><!-- /.row -->
</footer><!-- /.container -->
