<footer class="footer-nu">
  <div class="container">
    <div class="row-fluid">
      <div class="span3">
          <a alt="Northeastern University" href="http://www.northeastern.edu" class="nu-footer-brand logo">Northeastern University</a>
      </div>
      <div class="span6">
          <ul class="footer-nu-nav">
            <li>
              <a href="http://myneu.neu.edu/cp/home/displaylogin"  >myNEU</a>
            </li>
            <li>
              <a href="https://prod-web.neu.edu/webapp6/employeelookup/public/main.action"  >Find Faculty &amp; Staff</a>
            </li>
            <li>
              <a href="http://www.northeastern.edu/neuhome/adminlinks/findaz.html"  >Find A-Z</a>
            </li>
            <li>
              <a href="http://www.northeastern.edu/emergency/index.html"  >Emergency Information</a>
            </li>
            <li>
              <a href="http://www.northeastern.edu/search/index.html"  >Search</a>
            </li>
          </ul>
          <address>
            360 Huntington Ave., Boston, Massachusetts 02115 &middot; 617.373.2000 &middot;  TTY 617.373.3768<br>
            &copy; 2013 Northeastern University
          </address>
      </div>
      <div class="span3 ">
        <ul class="nu-social">
          <li>
            <a class="youtube" href="https://www.youtube.com/northeastern">
              <span class="icon-youtube-sign"></span>
              <span class="hide-text">Youtube</span>
            </a>
          </li>
          <li>
            <a class="twitter" href="http://twitter.com/northeastern">
              <span class="icon-twitter-sign"></span>
              <span class="hide-text">Twitter</span>
            </a>
          </li>
          <li>
            <a class="facebook" href="http://www.facebook.com/northeastern" >
              <span class="icon-facebook-sign"></span>
              <span class="hide-text">Facebook</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
