%footer.footer-nu(role="contentinfo")
  .container
    .row-fluid
      .span3
        %a.nu-footer-brand.logo{:alt => "Northeastern University", :href => "http://www.northeastern.edu"}
          %span.sr-only
            Northeastern University
      .span7
        %ul.footer-nu-nav
          %li
            %a{:href => "http://myneu.neu.edu/cp/home/displaylogin"} myNEU
          %li
            %a{:href => "https://prod-web.neu.edu/webapp6/employeelookup/public/main.action"} Find Faculty &amp; Staff
          %li
            %a{:href => "http://www.northeastern.edu/neuhome/adminlinks/findaz.html"} Find A-Z
          %li
            %a{:href => "http://www.northeastern.edu/emergency/index.html"} Emergency Information
          %li
            %a{:href => "http://www.northeastern.edu/search/index.html"} Search
        %address
          360 Huntington Ave., Boston, Massachusetts 02115 &middot; 617.373.2000 &middot;  TTY 617.373.3768
          %br/
          \&copy; 2013 Northeastern University
      .span2
        %ul.nu-social
          %li
            %a.youtube{:href => "https://www.youtube.com/northeastern"}
              =render partial: 'shared/icon', locals: {class_string: "icon-youtube-sign", alt_text: "Northern University on YouTube" }
          %li
            %a.twitter{:href => "http://twitter.com/northeastern"}
              =render partial: 'shared/icon', locals: {class_string: "icon-twitter-sign", alt_text: "Northern University on Twitter" }

          %li
            %a.facebook{:href => "http://www.facebook.com/northeastern"}
              =render partial: 'shared/icon', locals: { class_string: "icon-facebook-sign", alt_text: "Northeastern on Facebook"}
