%a.brand{:alt => "Northeastern Univeristy libraries", :href => "http://library.northeastern.edu", :title => "Northeastern Libraries Home Page"}
  = image_tag "nu-lib-lockup/nu-lib-lockup.svg", alt: "Northeastern University, University Libraries"