%header.container.nu-masthead{role: "banner"}
  .row
    .span6
      = render partial: '/logo'
    / /.span6
    .span6
      = render partial: '/user_util_links'
    / /.span6
  / /.row
/ /.container
= render partial: '/navbar'
