- content_for :content do
  .row
    - if content_for?(:sidebar)
      .span4
        = yield :sidebar
      .span8
        = yield
    - else
      .span12
        = yield

= render template: "layouts/application"