- content_for :content do
  .row
    %aside.span3(role="complementary")
      = content_for?(:aside) ? yield(:aside) : yield(:side_bar)
    / /.span2
    %main.span9(role="main")
      = yield
    / /.span10
= render template: "layouts/application"