- content_for :content do
  %main.conatiner(role="main")
    = yield :content
  //main.container
  -if :aside
    %aside(role="complimentary")
      = yield :aside 
= render template: "layouts/application"